#* @vtlvariable name="content" type="org.apache.turbine.services.pull.tools.ContentTool" *#
#* @vtlvariable name="siteLogoPath" type="java.lang.String" *#
## max image size: 240w x 120h
<img class="logo-img" src="$content.getURI(${siteLogoPath})" style="border:none;">
