<p>Dear $user.getFirstname() $user.getLastname(),</p>
<p>The following session was archived in $system:</p>
<ul>
    <li/>Project: $expt.getProject()
#if ("$!subject"!="")
    <li/>Subject: $subject
#end
    <li/>Session: $expt.getLabel()
</ul>
<p>Additional details for this session are available <a href="$server/data/experiments/$expt.getId()?format=html">here</a>. </p>
<p>$system Team</p>

