<p>Welcome to <b>XNAT</b>: You can change this site description by clicking the <b>Administer->Site Administration</b> menu option, and modifying the <b>Site Description</b> setting on the <b>Site Setup</b> tab.</p>
<p>This site description comes from the file <b>xnat-templates/screens/site_description.vm</b>. You can override this file in a plugin or enter Markdown text in the site setup.</p>
