<!--  start: screens/XDATScreen_search_wizard1.vm -->

<form class="search-wizard" name="searchWizard1s" method="post" action="$link.setPage("XDATScreen_search_wizard2.vm")">

    <h2 style="margin:0 0 20px;">Advanced Search</h2>

    <ol class="steps">
        <li class="step1">
            
            <h3>Select Pivot Data-type to search</h3>
            
            <p>The Pivot Data-type is the root type which you are searching. There will be one row per instance of
                this data-type. All other included data-types will be joined to this data-type.</p>
            
            #set ($typeObjects = $data.getSession().getAttribute("userHelper").getSearchableElementDisplaysByPluralDesc())
            
            <select id="exptType" name="ELEMENT_0" ONCHANGE="">
##                <option value="!" disabled>&nbsp;</option>
                #foreach ($typeObject in $typeObjects)
                    #if(!$typeObject.getElementName().equals("xnat:projectData"))
                        <option value="$typeObject.getElementName()"
                            #if($typeObject.getElementName()=="xnat:mrSessionData") selected #end>
                            $typeObject.getElementSecurity().getPluralDescription()
                        </option>
                    #end
                #end
            </select>

            <script type="text/javascript">
                menuInit('#exptType', { width: '200px', placeholder_text_single: 'Select', disable_search_threshold: 7 } );
            </script>
        
        </li>
        
        <li class="step2">
            
            <h3>Select Additional Data-types</h3>
            
            <p>What other types of data would you like to see?  Select the other types from the list below (as well
                as the level of fields you would like to see). The additional types will be joined to your
                selected pivot data-type.</p>

            <table class="addl-data-types" cellpadding="3" style="border-collapse:collapse;">
                #foreach ($typeObject in $typeObjects)
                    #if(!$typeObject.getElementName().equals("xnat:projectData"))
                        <tr><td><b>$typeObject.getElementSecurity().getPluralDescription()</b></td>
                            <td nowrap><input type="radio" name="super_$typeObject.getElementName()" value="" checked> None</td>
                            #if($typeObject.getVersions().get("brief") || $typeObject.getVersions().get("detailed"))
                                #if($typeObject.getVersions().get("brief"))
                                    <td nowrap><input type="radio" name="super_$typeObject.getElementName()" value="brief"> Brief</td>
                                #else
                                    <td nowrap><input type="radio" name="super_$typeObject.getElementName()" value="brief" disabled> Brief</td>
                                #end
                                #if($typeObject.getVersions().get("detailed"))
                                    <td nowrap><input type="radio" name="super_$typeObject.getElementName()" value="detailed"> Detailed</td>
                                #else
                                    <td nowrap><input type="radio" name="super_$typeObject.getElementName()" value="detailed" disabled> Detailed</td>
                                #end
                            #else
                                <td nowrap><input type="radio" name="super_$typeObject.getElementName()" value="brief" disabled> Brief</td>
                                <td nowrap><input type="radio" name="super_$typeObject.getElementName()" value="detailed"> Detailed</td>
                            #end
                            <!--<td nowrap><input type="radio" name="super_$typeObject.getElementName()" value="all"> All</td>-->
                        </tr>
                    #end
                #end
            </table>

        </li>
    </ol>

    <input type="submit" name="eventSubmit_doPerform" style="float:right;" value="Next">

    <div class="clear"></div>

</form>

<!--  end: screens/XDATScreen_search_wizard1.vm -->
