.gradle*
.idea
*.iml
*.log
src/generated
gradle.properties
/out
/build
/bin
.classpath
.project
.settings/
InstanceSettings.xml
src/main/resources/META-INF/xnat/auth
MANIFEST.MF
/ide-bin/
/lib/
dependencies.txt
