
<div class="clear"></div>
<div id="xnat_power">
    <a target="_blank" href="http://www.xnat.org/" style="">
        <img src="$content.getURI('images/xnat_power_small.png')">
    </a>
</div>

<script type="text/javascript">

    (function(){

        // add version to title attribute of XNAT logos
        if (typeof window.top.loggedIn != 'undefined' && window.top.loggedIn == true){
            Cookies.set('SESSION_ACTIVE', 'true');
            $.get(serverRoot+'/xapi/siteConfig/buildInfo',function(data){
                var version = XNAT.version = data.version;
                var version_string = version + " build: " + data.buildNumber;
                var isNonRelease = /.*(SNAPSHOT|BETA|RC).*/i.test(version);
                if (isNonRelease) {
                    version_string += " (" + data.commit + ")";
                }
                $('#xnat_power').find('a').attr('title','XNAT version ' + version_string)
                                .after('<small>version ' + version_string + (isNonRelease ? "<br>" + data.buildDate : "") + '</small>');
                $('#header_logo').attr('title','XNAT version ' + version_string);
                XNAT.app.version = version_string ;
            });
        }
        else {
            Cookies.set('SESSION_ACTIVE', 'false');
        }

        var clicker = XNAT.event.click('#header_logo, #xnat_power > a');

        // shift-click the header or footer XNAT logo to TOGGLE debug mode on/off
        clicker.shiftKey(function(e){
            e.preventDefault();
            if (Cookies.get('debug') === 'on'){
                Cookies.set('debug', 'off');
                window.location.hash = 'debug=off';
            }
            else {
                Cookies.set('debug', 'on');
                window.location.hash = 'debug=on';
            }
            window.location.reload();
        });

        // alt-shift-click to open the Swagger page in a new window
        clicker.altShift(function(e){
            e.preventDefault();
            XNAT.ui.popup(XNAT.url.rootUrl('/xapi/swagger-ui.html'));
        });

    })();

</script>