<!-- path: xnat-templates/navigations/htmlClose -->
</div><!-- /page_wrapper -->
$navigation.setTemplate("/powered_by.vm")
<script type="text/javascript" src="$content.getURI('scripts/footer.js')"></script>
</body>
</html>