<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("XDAT")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#set($months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"])
#set($days = [ 1..31 ])
#set($years = [ $!turbineUtils.getYear()..1900])
#if ($data.message)
<font color="red" size="3">$data.message</font>
#end
<p>
<form ID="form1" name="form1" method="post" action="$link.setAction("ModifyImageAssessorData")">
<input type="hidden" name="project" value="$!{project}" >
#if($vr)
	<font color="red">Invalid parameters:<BR>$vr.toHTML()</font>
<HR>
#end

<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<DIV class="edit_title">ProtocolVal Details</DIV>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD colspan='2'>
								<hr>
								#parse("/screens/xnat_edit_experimentData.vm")
								<HR></TD></TR>
							<tr>
								<th align="left">ProtocolVal ID</th>
								<TD align="left">#xdatStringBox("val:protocolData.ID" $item "" $vr)</TD>
							</tr>
							<tr>
								<TD colspan="2">#parse("/screens/EditProjectSpecificFields.vm")</TD>
							</tr>
							<TR><TD>imageSession_ID</TD><TD>#xdatStringBox("val:protocolData/imageSession_ID" $item "" $vr)</TD></TR>
							<TR><TD>date</TD><TD>#xdatDateBox("val:protocolData/date" $item $vr $years)</TD></TR>
							<TR><TD>time</TD><TD>#xdatTextBox("val:protocolData/time" $item "" $vr)</TD></TR>
							<TR><TD>duration</TD><TD>#xdatTextBox("val:protocolData/duration" $item "" $vr)</TD></TR>
							<TR><TD>delay</TD><TD>#xdatTextBox("val:protocolData/delay" $item "" $vr)</TD></TR>
							<TR><TD>delay/ref_expt_id</TD><TD>#xdatStringBox("val:protocolData/delay/ref_expt_id" $item "" $vr)</TD></TR>
							<TR><TD>note</TD><TD>#xdatStringBox("val:protocolData/note" $item "" $vr)</TD></TR>
							<TR><TD>acquisition_site</TD><TD>#xdatStringBox("val:protocolData/acquisition_site" $item "" $vr)</TD></TR>
							<TR><TD>visit_id</TD><TD>#xdatStringBox("val:protocolData/visit_id" $item "" $vr)</TD></TR>
							<TR><TD>visit</TD><TD>#xdatStringBox("val:protocolData/visit" $item "" $vr)</TD></TR>
							<TR><TD>version</TD><TD>#xdatTextBox("val:protocolData/version" $item "" $vr)</TD></TR>
							<TR><TD>original</TD><TD>#xdatStringBox("val:protocolData/original" $item "" $vr)</TD></TR>
							<TR><TD>protocol</TD><TD>#xdatStringBox("val:protocolData/protocol" $item "" $vr)</TD></TR>
							<TR><TD>label</TD><TD>#xdatStringBox("val:protocolData/label" $item "" $vr)</TD></TR>
							<TR><TD>check/status</TD><TD>#xdatStringBox("val:protocolData/check/status" $item "" $vr)</TD></TR>
						</TABLE>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
<!-- BEGIN val:protocolData -->
			<TABLE>
				<TR><TH align="left"><font face="$ui.sansSerifFonts" size="2">Related Items</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#foreach($xnat_abstractResource_1_COUNTER in [0..5])
<!-- BEGIN val:protocolData/in/file[$xnat_abstractResource_1_COUNTER] -->
								<TABLE>
									<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">val:protocolData/in/file[$xnat_abstractResource_1_COUNTER]</font></TH></TR>
									<TR>
										<TD align="left" valign="top">
											<TABLE>
												<TR><TD>note</TD><TD>#xdatStringBox("val:protocolData/in/file[$xnat_abstractResource_1_COUNTER]/note" $item "" $vr)</TD></TR>
												<TR><TD>label</TD><TD>#xdatStringBox("val:protocolData/in/file[$xnat_abstractResource_1_COUNTER]/label" $item "" $vr)</TD></TR>
												<TR><TD>file_count</TD><TD>#xdatTextBox("val:protocolData/in/file[$xnat_abstractResource_1_COUNTER]/file_count" $item "" $vr)</TD></TR>
												<TR><TD>file_size</TD><TD>#xdatTextBox("val:protocolData/in/file[$xnat_abstractResource_1_COUNTER]/file_size" $item "" $vr)</TD></TR>
																		#xdatHiddenBox("val:protocolData/in/file[$xnat_abstractResource_1_COUNTER]/xnat_abstractResource_id" $item "")
											</TABLE>
										</TD>
									</TR>
<!-- BEGIN val:protocolData/in/file[$xnat_abstractResource_1_COUNTER]/tags/tag -->
									<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">val:protocolData/in/file[$xnat_abstractResource_1_COUNTER]/tags/tag</font></TH></TR>
									<TR>
										<TD align="left" valign="top">
											<TABLE>
												<TR>
													<TD>tag</TD>
													<TD>name</TD>
												</TR>
												#foreach($xnat_abstractResource_tag_2_COUNTER in [0..5])
													<TR>
														<TD>#xdatTextBox("val:protocolData/in/file[$xnat_abstractResource_1_COUNTER]/tags/tag[$xnat_abstractResource_tag_2_COUNTER]/tag" $item "" $vr)</TD>
														<TD>#xdatTextBox("val:protocolData/in/file[$xnat_abstractResource_1_COUNTER]/tags/tag[$xnat_abstractResource_tag_2_COUNTER]/name" $item "" $vr)</TD>
														#xdatHiddenBox("val:protocolData/in/file[$xnat_abstractResource_1_COUNTER]/tags/tag[$xnat_abstractResource_tag_2_COUNTER]/xnat_abstractResource_tag_id" $item "")
													</TR>
												#end
											</TABLE>
										</TD>
									</TR>
<!-- END val:protocolData/in/file[$xnat_abstractResource_1_COUNTER]/tags/tag -->
								</TABLE>
<!-- END val:protocolData/in/file[$xnat_abstractResource_1_COUNTER] -->
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#foreach($xnat_abstractResource_2_COUNTER in [0..5])
<!-- BEGIN val:protocolData/out/file[$xnat_abstractResource_2_COUNTER] -->
								<TABLE>
									<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">val:protocolData/out/file[$xnat_abstractResource_2_COUNTER]</font></TH></TR>
									<TR>
										<TD align="left" valign="top">
											<TABLE>
												<TR><TD>note</TD><TD>#xdatStringBox("val:protocolData/out/file[$xnat_abstractResource_2_COUNTER]/note" $item "" $vr)</TD></TR>
												<TR><TD>label</TD><TD>#xdatStringBox("val:protocolData/out/file[$xnat_abstractResource_2_COUNTER]/label" $item "" $vr)</TD></TR>
												<TR><TD>file_count</TD><TD>#xdatTextBox("val:protocolData/out/file[$xnat_abstractResource_2_COUNTER]/file_count" $item "" $vr)</TD></TR>
												<TR><TD>file_size</TD><TD>#xdatTextBox("val:protocolData/out/file[$xnat_abstractResource_2_COUNTER]/file_size" $item "" $vr)</TD></TR>
																		#xdatHiddenBox("val:protocolData/out/file[$xnat_abstractResource_2_COUNTER]/xnat_abstractResource_id" $item "")
											</TABLE>
										</TD>
									</TR>
<!-- BEGIN val:protocolData/out/file[$xnat_abstractResource_2_COUNTER]/tags/tag -->
									<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">val:protocolData/out/file[$xnat_abstractResource_2_COUNTER]/tags/tag</font></TH></TR>
									<TR>
										<TD align="left" valign="top">
											<TABLE>
												<TR>
													<TD>tag</TD>
													<TD>name</TD>
												</TR>
												#foreach($xnat_abstractResource_tag_3_COUNTER in [0..5])
													<TR>
														<TD>#xdatTextBox("val:protocolData/out/file[$xnat_abstractResource_2_COUNTER]/tags/tag[$xnat_abstractResource_tag_3_COUNTER]/tag" $item "" $vr)</TD>
														<TD>#xdatTextBox("val:protocolData/out/file[$xnat_abstractResource_2_COUNTER]/tags/tag[$xnat_abstractResource_tag_3_COUNTER]/name" $item "" $vr)</TD>
														#xdatHiddenBox("val:protocolData/out/file[$xnat_abstractResource_2_COUNTER]/tags/tag[$xnat_abstractResource_tag_3_COUNTER]/xnat_abstractResource_tag_id" $item "")
													</TR>
												#end
											</TABLE>
										</TD>
									</TR>
<!-- END val:protocolData/out/file[$xnat_abstractResource_2_COUNTER]/tags/tag -->
								</TABLE>
<!-- END val:protocolData/out/file[$xnat_abstractResource_2_COUNTER] -->
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
<!-- BEGIN val:protocolData/parameters/addParam -->
				<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">val:protocolData/parameters/addParam</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
							<TR>
								<TD>addField</TD>
								<TD>name</TD>
							</TR>
							#foreach($xnat_addField_3_COUNTER in [0..5])
								<TR>
									<TD>#xdatTextBox("val:protocolData/parameters/addParam[$xnat_addField_3_COUNTER]/addField" $item "" $vr)</TD>
									<TD>#xdatTextBox("val:protocolData/parameters/addParam[$xnat_addField_3_COUNTER]/name" $item "" $vr)</TD>
									#xdatHiddenBox("val:protocolData/parameters/addParam[$xnat_addField_3_COUNTER]/xnat_addField_id" $item "")
								</TR>
							#end
						</TABLE>
					</TD>
				</TR>
<!-- END val:protocolData/parameters/addParam -->
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN val:protocolData/provenance -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">val:protocolData/provenance</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
																#xdatHiddenBox("val:protocolData/provenance/prov_process_id" $item "")
									</TABLE>
								</TD>
							</TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE><TR><TD>
										#foreach($prov_processStep_4_COUNTER in [0..5])
<!-- BEGIN val:protocolData/provenance/processStep[$prov_processStep_4_COUNTER] -->
											<TABLE>
												<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">val:protocolData/provenance/processStep[$prov_processStep_4_COUNTER]</font></TH></TR>
												<TR>
													<TD align="left" valign="top">
														<TABLE>
															<TR><TD>program</TD><TD>#xdatStringBox("val:protocolData/provenance/processStep[$prov_processStep_4_COUNTER]/program" $item "" $vr)</TD></TR>
															<TR><TD>program/version</TD><TD>#xdatStringBox("val:protocolData/provenance/processStep[$prov_processStep_4_COUNTER]/program/version" $item "" $vr)</TD></TR>
															<TR><TD>program/arguments</TD><TD>#xdatStringBox("val:protocolData/provenance/processStep[$prov_processStep_4_COUNTER]/program/arguments" $item "" $vr)</TD></TR>
															<TR><TD>timestamp</TD><TD>#xdatTextBox("val:protocolData/provenance/processStep[$prov_processStep_4_COUNTER]/timestamp" $item "" $vr)</TD></TR>
															<TR><TD>cvs</TD><TD>#xdatStringBox("val:protocolData/provenance/processStep[$prov_processStep_4_COUNTER]/cvs" $item "" $vr)</TD></TR>
															<TR><TD>user</TD><TD>#xdatStringBox("val:protocolData/provenance/processStep[$prov_processStep_4_COUNTER]/user" $item "" $vr)</TD></TR>
															<TR><TD>machine</TD><TD>#xdatStringBox("val:protocolData/provenance/processStep[$prov_processStep_4_COUNTER]/machine" $item "" $vr)</TD></TR>
															<TR><TD>platform</TD><TD>#xdatStringBox("val:protocolData/provenance/processStep[$prov_processStep_4_COUNTER]/platform" $item "" $vr)</TD></TR>
															<TR><TD>platform/version</TD><TD>#xdatStringBox("val:protocolData/provenance/processStep[$prov_processStep_4_COUNTER]/platform/version" $item "" $vr)</TD></TR>
															<TR><TD>compiler</TD><TD>#xdatStringBox("val:protocolData/provenance/processStep[$prov_processStep_4_COUNTER]/compiler" $item "" $vr)</TD></TR>
															<TR><TD>compiler/version</TD><TD>#xdatStringBox("val:protocolData/provenance/processStep[$prov_processStep_4_COUNTER]/compiler/version" $item "" $vr)</TD></TR>
																					#xdatHiddenBox("val:protocolData/provenance/processStep[$prov_processStep_4_COUNTER]/prov_processStep_id" $item "")
														</TABLE>
													</TD>
												</TR>
<!-- BEGIN val:protocolData/provenance/processStep[$prov_processStep_4_COUNTER]/library -->
												<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">val:protocolData/provenance/processStep[$prov_processStep_4_COUNTER]/library</font></TH></TR>
												<TR>
													<TD align="left" valign="top">
														<TABLE>
															<TR>
																<TD>library</TD>
																<TD>version</TD>
															</TR>
															#foreach($prov_processStep_library_5_COUNTER in [0..5])
																<TR>
																	<TD>#xdatTextBox("val:protocolData/provenance/processStep[$prov_processStep_4_COUNTER]/library[$prov_processStep_library_5_COUNTER]/library" $item "" $vr)</TD>
																	<TD>#xdatTextBox("val:protocolData/provenance/processStep[$prov_processStep_4_COUNTER]/library[$prov_processStep_library_5_COUNTER]/version" $item "" $vr)</TD>
																	#xdatHiddenBox("val:protocolData/provenance/processStep[$prov_processStep_4_COUNTER]/library[$prov_processStep_library_5_COUNTER]/prov_processStep_library_id" $item "")
																</TR>
															#end
														</TABLE>
													</TD>
												</TR>
<!-- END val:protocolData/provenance/processStep[$prov_processStep_4_COUNTER]/library -->
											</TABLE>
<!-- END val:protocolData/provenance/processStep[$prov_processStep_4_COUNTER] -->
										#end
									</TD></TR></TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END val:protocolData/provenance -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN val:protocolData/investigator -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">val:protocolData/investigator</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>title</TD><TD>#xdatStringBox("val:protocolData/investigator/title" $item "" $vr)</TD></TR>
										<TR><TD>firstname</TD><TD>#xdatStringBox("val:protocolData/investigator/firstname" $item "" $vr)</TD></TR>
										<TR><TD>lastname</TD><TD>#xdatStringBox("val:protocolData/investigator/lastname" $item "" $vr)</TD></TR>
										<TR><TD>institution</TD><TD>#xdatStringBox("val:protocolData/investigator/institution" $item "" $vr)</TD></TR>
										<TR><TD>department</TD><TD>#xdatStringBox("val:protocolData/investigator/department" $item "" $vr)</TD></TR>
										<TR><TD>email</TD><TD>#xdatStringBox("val:protocolData/investigator/email" $item "" $vr)</TD></TR>
										<TR><TD>phone</TD><TD>#xdatStringBox("val:protocolData/investigator/phone" $item "" $vr)</TD></TR>
										<TR><TD>ID</TD><TD>#xdatStringBox("val:protocolData/investigator/ID" $item "" $vr)</TD></TR>
																#xdatHiddenBox("val:protocolData/investigator/xnat_investigatorData_id" $item "")
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END val:protocolData/investigator -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN val:protocolData/validation -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">val:protocolData/validation</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>method</TD><TD>#xdatStringBox("val:protocolData/validation/method" $item "" $vr)</TD></TR>
										<TR><TD>date</TD><TD>#xdatDateBox("val:protocolData/validation/date" $item $vr $years)</TD></TR>
										<TR><TD>notes</TD><TD>#xdatStringBox("val:protocolData/validation/notes" $item "" $vr)</TD></TR>
										<TR><TD>validated_by</TD><TD>#xdatStringBox("val:protocolData/validation/validated_by" $item "" $vr)</TD></TR>
										<TR><TD>status</TD><TD>#xdatStringBox("val:protocolData/validation/status" $item "" $vr)</TD></TR>
																#xdatHiddenBox("val:protocolData/validation/xnat_validationData_id" $item "")
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END val:protocolData/validation -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#foreach($xnat_abstractResource_7_COUNTER in [0..5])
<!-- BEGIN val:protocolData/resources/resource[$xnat_abstractResource_7_COUNTER] -->
								<TABLE>
									<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">val:protocolData/resources/resource[$xnat_abstractResource_7_COUNTER]</font></TH></TR>
									<TR>
										<TD align="left" valign="top">
											<TABLE>
												<TR><TD>note</TD><TD>#xdatStringBox("val:protocolData/resources/resource[$xnat_abstractResource_7_COUNTER]/note" $item "" $vr)</TD></TR>
												<TR><TD>label</TD><TD>#xdatStringBox("val:protocolData/resources/resource[$xnat_abstractResource_7_COUNTER]/label" $item "" $vr)</TD></TR>
												<TR><TD>file_count</TD><TD>#xdatTextBox("val:protocolData/resources/resource[$xnat_abstractResource_7_COUNTER]/file_count" $item "" $vr)</TD></TR>
												<TR><TD>file_size</TD><TD>#xdatTextBox("val:protocolData/resources/resource[$xnat_abstractResource_7_COUNTER]/file_size" $item "" $vr)</TD></TR>
																		#xdatHiddenBox("val:protocolData/resources/resource[$xnat_abstractResource_7_COUNTER]/xnat_abstractResource_id" $item "")
											</TABLE>
										</TD>
									</TR>
<!-- BEGIN val:protocolData/resources/resource[$xnat_abstractResource_7_COUNTER]/tags/tag -->
									<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">val:protocolData/resources/resource[$xnat_abstractResource_7_COUNTER]/tags/tag</font></TH></TR>
									<TR>
										<TD align="left" valign="top">
											<TABLE>
												<TR>
													<TD>tag</TD>
													<TD>name</TD>
												</TR>
												#foreach($xnat_abstractResource_tag_8_COUNTER in [0..5])
													<TR>
														<TD>#xdatTextBox("val:protocolData/resources/resource[$xnat_abstractResource_7_COUNTER]/tags/tag[$xnat_abstractResource_tag_8_COUNTER]/tag" $item "" $vr)</TD>
														<TD>#xdatTextBox("val:protocolData/resources/resource[$xnat_abstractResource_7_COUNTER]/tags/tag[$xnat_abstractResource_tag_8_COUNTER]/name" $item "" $vr)</TD>
														#xdatHiddenBox("val:protocolData/resources/resource[$xnat_abstractResource_7_COUNTER]/tags/tag[$xnat_abstractResource_tag_8_COUNTER]/xnat_abstractResource_tag_id" $item "")
													</TR>
												#end
											</TABLE>
										</TD>
									</TR>
<!-- END val:protocolData/resources/resource[$xnat_abstractResource_7_COUNTER]/tags/tag -->
								</TABLE>
<!-- END val:protocolData/resources/resource[$xnat_abstractResource_7_COUNTER] -->
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
<!-- BEGIN val:protocolData/fields/field -->
				<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">val:protocolData/fields/field</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
							<TR>
								<TD>field</TD>
								<TD>name</TD>
							</TR>
							#foreach($xnat_experimentData_field_8_COUNTER in [0..5])
								<TR>
									<TD>#xdatTextBox("val:protocolData/fields/field[$xnat_experimentData_field_8_COUNTER]/field" $item "" $vr)</TD>
									<TD>#xdatTextBox("val:protocolData/fields/field[$xnat_experimentData_field_8_COUNTER]/name" $item "" $vr)</TD>
									#xdatHiddenBox("val:protocolData/fields/field[$xnat_experimentData_field_8_COUNTER]/xnat_experimentData_field_id" $item "")
								</TR>
							#end
						</TABLE>
					</TD>
				</TR>
<!-- END val:protocolData/fields/field -->
<!-- BEGIN val:protocolData/check/conditions/condition -->
				<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">val:protocolData/check/conditions/condition</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
							<TR>
								<TD>verified</TD>
								<TD>diagnosis</TD>
								<TD>ID</TD>
								<TD>status</TD>
								<TD>xmlpath</TD>
							</TR>
							#foreach($val_protocolData_condition_8_COUNTER in [0..5])
								<TR>
									<TD>#xdatTextBox("val:protocolData/check/conditions/condition[$val_protocolData_condition_8_COUNTER]/verified" $item "" $vr)</TD>
									<TD>#xdatTextBox("val:protocolData/check/conditions/condition[$val_protocolData_condition_8_COUNTER]/diagnosis" $item "" $vr)</TD>
									<TD>#xdatTextBox("val:protocolData/check/conditions/condition[$val_protocolData_condition_8_COUNTER]/ID" $item "" $vr)</TD>
									<TD>#xdatTextBox("val:protocolData/check/conditions/condition[$val_protocolData_condition_8_COUNTER]/status" $item "" $vr)</TD>
									<TD>#xdatTextBox("val:protocolData/check/conditions/condition[$val_protocolData_condition_8_COUNTER]/xmlpath" $item "" $vr)</TD>
									#xdatHiddenBox("val:protocolData/check/conditions/condition[$val_protocolData_condition_8_COUNTER]/val_protocolData_condition_id" $item "")
								</TR>
							#end
						</TABLE>
					</TD>
				</TR>
<!-- END val:protocolData/check/conditions/condition -->
<!-- BEGIN val:protocolData/check/comments/comment -->
				<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">val:protocolData/check/comments/comment</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
							<TR>
								<TD>comment</TD>
								<TD>username</TD>
								<TD>dateTime</TD>
							</TR>
							#foreach($val_protocolData_comment_8_COUNTER in [0..5])
								<TR>
									<TD>#xdatTextBox("val:protocolData/check/comments/comment[$val_protocolData_comment_8_COUNTER]/comment" $item "" $vr)</TD>
									<TD>#xdatTextBox("val:protocolData/check/comments/comment[$val_protocolData_comment_8_COUNTER]/username" $item "" $vr)</TD>
									<TD>#xdatTextBox("val:protocolData/check/comments/comment[$val_protocolData_comment_8_COUNTER]/dateTime" $item "" $vr)</TD>
									#xdatHiddenBox("val:protocolData/check/comments/comment[$val_protocolData_comment_8_COUNTER]/val_protocolData_comment_id" $item "")
								</TR>
							#end
						</TABLE>
					</TD>
				</TR>
<!-- END val:protocolData/check/comments/comment -->
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN val:protocolData/check/additionalVal -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">val:protocolData/check/additionalVal</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
																#xdatHiddenBox("val:protocolData/check/additionalVal/val_additionalVal_id" $item "")
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END val:protocolData/check/additionalVal -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#foreach($val_protocolData_scan_check_9_COUNTER in [0..5])
<!-- BEGIN val:protocolData/scans/scan_check[$val_protocolData_scan_check_9_COUNTER] -->
								<TABLE>
									<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">val:protocolData/scans/scan_check[$val_protocolData_scan_check_9_COUNTER]</font></TH></TR>
									<TR>
										<TD align="left" valign="top">
											<TABLE>
												<TR><TD>SCAN_ID</TD><TD>#xdatStringBox("val:protocolData/scans/scan_check[$val_protocolData_scan_check_9_COUNTER]/SCAN_ID" $item "" $vr)</TD></TR>
												<TR><TD>status</TD><TD>#xdatStringBox("val:protocolData/scans/scan_check[$val_protocolData_scan_check_9_COUNTER]/status" $item "" $vr)</TD></TR>
																		#xdatHiddenBox("val:protocolData/scans/scan_check[$val_protocolData_scan_check_9_COUNTER]/val_protocolData_scan_check_id" $item "")
											</TABLE>
										</TD>
									</TR>
<!-- BEGIN val:protocolData/scans/scan_check[$val_protocolData_scan_check_9_COUNTER]/conditions/condition -->
									<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">val:protocolData/scans/scan_check[$val_protocolData_scan_check_9_COUNTER]/conditions/condition</font></TH></TR>
									<TR>
										<TD align="left" valign="top">
											<TABLE>
												<TR>
													<TD>verified</TD>
													<TD>diagnosis</TD>
													<TD>ID</TD>
													<TD>status</TD>
													<TD>xmlpath</TD>
												</TR>
												#foreach($val_protocolData_scan_check_condition_10_COUNTER in [0..5])
													<TR>
														<TD>#xdatTextBox("val:protocolData/scans/scan_check[$val_protocolData_scan_check_9_COUNTER]/conditions/condition[$val_protocolData_scan_check_condition_10_COUNTER]/verified" $item "" $vr)</TD>
														<TD>#xdatTextBox("val:protocolData/scans/scan_check[$val_protocolData_scan_check_9_COUNTER]/conditions/condition[$val_protocolData_scan_check_condition_10_COUNTER]/diagnosis" $item "" $vr)</TD>
														<TD>#xdatTextBox("val:protocolData/scans/scan_check[$val_protocolData_scan_check_9_COUNTER]/conditions/condition[$val_protocolData_scan_check_condition_10_COUNTER]/ID" $item "" $vr)</TD>
														<TD>#xdatTextBox("val:protocolData/scans/scan_check[$val_protocolData_scan_check_9_COUNTER]/conditions/condition[$val_protocolData_scan_check_condition_10_COUNTER]/status" $item "" $vr)</TD>
														<TD>#xdatTextBox("val:protocolData/scans/scan_check[$val_protocolData_scan_check_9_COUNTER]/conditions/condition[$val_protocolData_scan_check_condition_10_COUNTER]/xmlpath" $item "" $vr)</TD>
														#xdatHiddenBox("val:protocolData/scans/scan_check[$val_protocolData_scan_check_9_COUNTER]/conditions/condition[$val_protocolData_scan_check_condition_10_COUNTER]/val_protocolData_scan_check_condition_id" $item "")
													</TR>
												#end
											</TABLE>
										</TD>
									</TR>
<!-- END val:protocolData/scans/scan_check[$val_protocolData_scan_check_9_COUNTER]/conditions/condition -->
<!-- BEGIN val:protocolData/scans/scan_check[$val_protocolData_scan_check_9_COUNTER]/comments/comment -->
									<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">val:protocolData/scans/scan_check[$val_protocolData_scan_check_9_COUNTER]/comments/comment</font></TH></TR>
									<TR>
										<TD align="left" valign="top">
											<TABLE>
												<TR>
													<TD>comment</TD>
													<TD>username</TD>
													<TD>dateTime</TD>
												</TR>
												#foreach($val_protocolData_scan_check_comment_10_COUNTER in [0..5])
													<TR>
														<TD>#xdatTextBox("val:protocolData/scans/scan_check[$val_protocolData_scan_check_9_COUNTER]/comments/comment[$val_protocolData_scan_check_comment_10_COUNTER]/comment" $item "" $vr)</TD>
														<TD>#xdatTextBox("val:protocolData/scans/scan_check[$val_protocolData_scan_check_9_COUNTER]/comments/comment[$val_protocolData_scan_check_comment_10_COUNTER]/username" $item "" $vr)</TD>
														<TD>#xdatTextBox("val:protocolData/scans/scan_check[$val_protocolData_scan_check_9_COUNTER]/comments/comment[$val_protocolData_scan_check_comment_10_COUNTER]/dateTime" $item "" $vr)</TD>
														#xdatHiddenBox("val:protocolData/scans/scan_check[$val_protocolData_scan_check_9_COUNTER]/comments/comment[$val_protocolData_scan_check_comment_10_COUNTER]/val_protocolData_scan_check_comment_id" $item "")
													</TR>
												#end
											</TABLE>
										</TD>
									</TR>
<!-- END val:protocolData/scans/scan_check[$val_protocolData_scan_check_9_COUNTER]/comments/comment -->
									<TR>
										<TD align="left" valign="top">
<!-- BEGIN val:protocolData/scans/scan_check[$val_protocolData_scan_check_9_COUNTER]/additionalVal -->
											<TABLE>
												<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">val:protocolData/scans/scan_check[$val_protocolData_scan_check_9_COUNTER]/additionalVal</font></TH></TR>
												<TR>
													<TD align="left" valign="top">
														<TABLE>
																					#xdatHiddenBox("val:protocolData/scans/scan_check[$val_protocolData_scan_check_9_COUNTER]/additionalVal/val_additionalVal_id" $item "")
														</TABLE>
													</TD>
												</TR>
											</TABLE>
<!-- END val:protocolData/scans/scan_check[$val_protocolData_scan_check_9_COUNTER]/additionalVal -->
										</TD>
									</TR>
								</TABLE>
<!-- END val:protocolData/scans/scan_check[$val_protocolData_scan_check_9_COUNTER] -->
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
			</TABLE>
<!-- END val:protocolData -->
		</TD>
	</TR>
	<TR>
		<TD>
		#xdatEditProps($item $edit_screen)
		<TR><TD COLSPAN=2 ALIGN=left><input type="button" ONCLICK="validateForm();"  name="eventSubmit_doInsert" value="Submit"/></TD></TR>
		</TD>
	</TR>
</TABLE>
</form>

<script type="text/javascript">
function validateForm()
{
   //INSERT CUSTOM CONTENT HERE

   validateExperimentForm();
   return false;
}
</script>
