<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("XDAT")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#set($months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"])
#set($days = [ 1..31 ])
#set($years = [ $!turbineUtils.getYear()..1900])
#if ($data.message)
<font color="red" size="3">$data.message</font>
#end
<p>
<form ID="form1" name="form1" method="post" action="$link.setAction("ModifyItem")">
<input type="hidden" name="project" value="$!{project}" >
#if($vr)
	<font color="red">Invalid parameters:<BR>$vr.toHTML()</font>
<HR>
#end

<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<DIV class="edit_title">Investigator Details</DIV>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD>title</TD><TD>#xdatStringBox("xnat:investigatorData/title" $item "" $vr)</TD></TR>
							<TR><TD>firstname</TD><TD>#xdatStringBox("xnat:investigatorData/firstname" $item "" $vr)</TD></TR>
							<TR><TD>lastname</TD><TD>#xdatStringBox("xnat:investigatorData/lastname" $item "" $vr)</TD></TR>
							<TR><TD>institution</TD><TD>#xdatStringBox("xnat:investigatorData/institution" $item "" $vr)</TD></TR>
							<TR><TD>department</TD><TD>#xdatStringBox("xnat:investigatorData/department" $item "" $vr)</TD></TR>
							<TR><TD>email</TD><TD>#xdatStringBox("xnat:investigatorData/email" $item "" $vr)</TD></TR>
							<TR><TD>phone</TD><TD>#xdatStringBox("xnat:investigatorData/phone" $item "" $vr)</TD></TR>
							<TR><TD>ID</TD><TD>#xdatStringBox("xnat:investigatorData/ID" $item "" $vr)</TD></TR>
													#xdatHiddenBox("xnat:investigatorData/xnat_investigatorData_id" $item "")
						</TABLE>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
<!-- BEGIN xnat:investigatorData -->
			<TABLE>
				<TR><TH align="left"><font face="$ui.sansSerifFonts" size="2">Related Items</font></TH></TR>
			</TABLE>
<!-- END xnat:investigatorData -->
		</TD>
	</TR>
	<TR>
		<TD>
		#xdatEditProps($item $edit_screen)
		<TR><TD COLSPAN=2 ALIGN=left><input type="button" ONCLICK="validateForm();"  name="eventSubmit_doInsert" value="Submit"/></TD></TR>
		</TD>
	</TR>
</TABLE>
</form>

<script type="text/javascript">
function validateForm()
{
   //INSERT CUSTOM CONTENT HERE
}
</script>
