<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("ReconstructedImage Details")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($turbineUtils.GetPassedParameter("popup", $data))
	#set ($popup = $turbineUtils.GetPassedParameter("popup", data) )
	#set ($popup = "false")
#end
<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<font face="$ui.sansSerifFonts" size="3"><b>ReconstructedImage Details</b></font>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD>image_session_ID</TD><TD>$!item.getStringProperty("xnat:reconstructedImageData/image_session_ID")</TD></TR>
							<TR><TD>ID</TD><TD>$!item.getStringProperty("xnat:reconstructedImageData/ID")</TD></TR>
							<TR><TD>type</TD><TD>$!item.getStringProperty("xnat:reconstructedImageData/type")</TD></TR>
							<TR><TD>baseScanType</TD><TD>$!item.getStringProperty("xnat:reconstructedImageData/baseScanType")</TD></TR>
						</TABLE>
					</TD>
					<TD valign="top" align="right">
						#parse($turbineUtils.getTemplateName("actions",$om.getXSIType(),$project))
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
<!-- BEGIN xnat:reconstructedImageData -->
			<TABLE>
				<TR><TH align="left"><font face="$ui.sansSerifFonts" size="2">Related Items</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
						</TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_reconstructedImageData_scanID_1_NUM_ROWS=$item.getChildItems("xnat:reconstructedImageData/inScans/scanID").size() - 1)
							#if($xnat_reconstructedImageData_scanID_1_NUM_ROWS>=0)
								#foreach($xnat_reconstructedImageData_scanID_1_COUNTER in [0..$xnat_reconstructedImageData_scanID_1_NUM_ROWS])
<!-- BEGIN xnat:reconstructedImageData/inScans/scanID[$xnat_reconstructedImageData_scanID_1_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat:reconstructedImageData/inScans/scanID[$xnat_reconstructedImageData_scanID_1_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>scanID</TD><TD>$!item.getStringProperty("xnat:reconstructedImageData/inScans/scanID[$xnat_reconstructedImageData_scanID_1_COUNTER]/scanID")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END xnat:reconstructedImageData/inScans/scanID[$xnat_reconstructedImageData_scanID_1_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_abstractResource_2_NUM_ROWS=$item.getChildItems("xnat:reconstructedImageData/in/file").size() - 1)
							#if($xnat_abstractResource_2_NUM_ROWS>=0)
								#foreach($xnat_abstractResource_2_COUNTER in [0..$xnat_abstractResource_2_NUM_ROWS])
<!-- BEGIN xnat:reconstructedImageData/in/file[$xnat_abstractResource_2_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat:reconstructedImageData/in/file[$xnat_abstractResource_2_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>note</TD><TD>$!item.getStringProperty("xnat:reconstructedImageData/in/file[$xnat_abstractResource_2_COUNTER]/note")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("xnat:reconstructedImageData/in/file[$xnat_abstractResource_2_COUNTER]/label")</TD></TR>
													<TR><TD>file_count</TD><TD>$!item.getIntegerProperty("xnat:reconstructedImageData/in/file[$xnat_abstractResource_2_COUNTER]/file_count")</TD></TR>
													<TR><TD>file_size</TD><TD>$!item.getProperty("xnat:reconstructedImageData/in/file[$xnat_abstractResource_2_COUNTER]/file_size")</TD></TR>
												</TABLE>
											</TD>
										</TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE><TR><TD>
													#set($xnat_abstractResource_tag_3_NUM_ROWS=$item.getChildItems("xnat:reconstructedImageData/in/file[$xnat_abstractResource_2_COUNTER]/tags/tag").size() - 1)
													#if($xnat_abstractResource_tag_3_NUM_ROWS>=0)
														#foreach($xnat_abstractResource_tag_3_COUNTER in [0..$xnat_abstractResource_tag_3_NUM_ROWS])
<!-- BEGIN xnat:reconstructedImageData/in/file[$xnat_abstractResource_2_COUNTER]/tags/tag[$xnat_abstractResource_tag_3_COUNTER] -->
															<TABLE>
																<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat:reconstructedImageData/in/file[$xnat_abstractResource_2_COUNTER]/tags/tag[$xnat_abstractResource_tag_3_COUNTER]</font></TH></TR>
																<TR>
																	<TD align="left" valign="top">
																		<TABLE>
																			<TR><TD>tag</TD><TD>$!item.getStringProperty("xnat:reconstructedImageData/in/file[$xnat_abstractResource_2_COUNTER]/tags/tag[$xnat_abstractResource_tag_3_COUNTER]/tag")</TD></TR>
																			<TR><TD>name</TD><TD>$!item.getStringProperty("xnat:reconstructedImageData/in/file[$xnat_abstractResource_2_COUNTER]/tags/tag[$xnat_abstractResource_tag_3_COUNTER]/name")</TD></TR>
																		</TABLE>
																	</TD>
																</TR>
															</TABLE>
<!-- END xnat:reconstructedImageData/in/file[$xnat_abstractResource_2_COUNTER]/tags/tag[$xnat_abstractResource_tag_3_COUNTER] -->
														#end
													#end
												</TD></TR></TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END xnat:reconstructedImageData/in/file[$xnat_abstractResource_2_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_abstractResource_4_NUM_ROWS=$item.getChildItems("xnat:reconstructedImageData/out/file").size() - 1)
							#if($xnat_abstractResource_4_NUM_ROWS>=0)
								#foreach($xnat_abstractResource_4_COUNTER in [0..$xnat_abstractResource_4_NUM_ROWS])
<!-- BEGIN xnat:reconstructedImageData/out/file[$xnat_abstractResource_4_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat:reconstructedImageData/out/file[$xnat_abstractResource_4_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>note</TD><TD>$!item.getStringProperty("xnat:reconstructedImageData/out/file[$xnat_abstractResource_4_COUNTER]/note")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("xnat:reconstructedImageData/out/file[$xnat_abstractResource_4_COUNTER]/label")</TD></TR>
													<TR><TD>file_count</TD><TD>$!item.getIntegerProperty("xnat:reconstructedImageData/out/file[$xnat_abstractResource_4_COUNTER]/file_count")</TD></TR>
													<TR><TD>file_size</TD><TD>$!item.getProperty("xnat:reconstructedImageData/out/file[$xnat_abstractResource_4_COUNTER]/file_size")</TD></TR>
												</TABLE>
											</TD>
										</TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE><TR><TD>
													#set($xnat_abstractResource_tag_5_NUM_ROWS=$item.getChildItems("xnat:reconstructedImageData/out/file[$xnat_abstractResource_4_COUNTER]/tags/tag").size() - 1)
													#if($xnat_abstractResource_tag_5_NUM_ROWS>=0)
														#foreach($xnat_abstractResource_tag_5_COUNTER in [0..$xnat_abstractResource_tag_5_NUM_ROWS])
<!-- BEGIN xnat:reconstructedImageData/out/file[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER] -->
															<TABLE>
																<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat:reconstructedImageData/out/file[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]</font></TH></TR>
																<TR>
																	<TD align="left" valign="top">
																		<TABLE>
																			<TR><TD>tag</TD><TD>$!item.getStringProperty("xnat:reconstructedImageData/out/file[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]/tag")</TD></TR>
																			<TR><TD>name</TD><TD>$!item.getStringProperty("xnat:reconstructedImageData/out/file[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]/name")</TD></TR>
																		</TABLE>
																	</TD>
																</TR>
															</TABLE>
<!-- END xnat:reconstructedImageData/out/file[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER] -->
														#end
													#end
												</TD></TR></TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END xnat:reconstructedImageData/out/file[$xnat_abstractResource_4_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN xnat:reconstructedImageData/provenance -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat:reconstructedImageData/provenance</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
									</TABLE>
								</TD>
							</TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE><TR><TD>
										#set($prov_processStep_7_NUM_ROWS=$item.getChildItems("xnat:reconstructedImageData/provenance/processStep").size() - 1)
										#if($prov_processStep_7_NUM_ROWS>=0)
											#foreach($prov_processStep_7_COUNTER in [0..$prov_processStep_7_NUM_ROWS])
<!-- BEGIN xnat:reconstructedImageData/provenance/processStep[$prov_processStep_7_COUNTER] -->
												<TABLE>
													<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat:reconstructedImageData/provenance/processStep[$prov_processStep_7_COUNTER]</font></TH></TR>
													<TR>
														<TD align="left" valign="top">
															<TABLE>
																<TR><TD>program</TD><TD>$!item.getStringProperty("xnat:reconstructedImageData/provenance/processStep[$prov_processStep_7_COUNTER]/program")</TD></TR>
																<TR><TD>program/version</TD><TD>$!item.getStringProperty("xnat:reconstructedImageData/provenance/processStep[$prov_processStep_7_COUNTER]/program/version")</TD></TR>
																<TR><TD>program/arguments</TD><TD>$!item.getStringProperty("xnat:reconstructedImageData/provenance/processStep[$prov_processStep_7_COUNTER]/program/arguments")</TD></TR>
																<TR><TD>timestamp</TD><TD>$!item.getProperty("xnat:reconstructedImageData/provenance/processStep[$prov_processStep_7_COUNTER]/timestamp")</TD></TR>
																<TR><TD>cvs</TD><TD>$!item.getStringProperty("xnat:reconstructedImageData/provenance/processStep[$prov_processStep_7_COUNTER]/cvs")</TD></TR>
																<TR><TD>user</TD><TD>$!item.getStringProperty("xnat:reconstructedImageData/provenance/processStep[$prov_processStep_7_COUNTER]/user")</TD></TR>
																<TR><TD>machine</TD><TD>$!item.getStringProperty("xnat:reconstructedImageData/provenance/processStep[$prov_processStep_7_COUNTER]/machine")</TD></TR>
																<TR><TD>platform</TD><TD>$!item.getStringProperty("xnat:reconstructedImageData/provenance/processStep[$prov_processStep_7_COUNTER]/platform")</TD></TR>
																<TR><TD>platform/version</TD><TD>$!item.getStringProperty("xnat:reconstructedImageData/provenance/processStep[$prov_processStep_7_COUNTER]/platform/version")</TD></TR>
																<TR><TD>compiler</TD><TD>$!item.getStringProperty("xnat:reconstructedImageData/provenance/processStep[$prov_processStep_7_COUNTER]/compiler")</TD></TR>
																<TR><TD>compiler/version</TD><TD>$!item.getStringProperty("xnat:reconstructedImageData/provenance/processStep[$prov_processStep_7_COUNTER]/compiler/version")</TD></TR>
															</TABLE>
														</TD>
													</TR>
													<TR>
														<TD align="left" valign="top">
															<TABLE><TR><TD>
																#set($prov_processStep_library_8_NUM_ROWS=$item.getChildItems("xnat:reconstructedImageData/provenance/processStep[$prov_processStep_7_COUNTER]/library").size() - 1)
																#if($prov_processStep_library_8_NUM_ROWS>=0)
																	#foreach($prov_processStep_library_8_COUNTER in [0..$prov_processStep_library_8_NUM_ROWS])
<!-- BEGIN xnat:reconstructedImageData/provenance/processStep[$prov_processStep_7_COUNTER]/library[$prov_processStep_library_8_COUNTER] -->
																		<TABLE>
																			<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat:reconstructedImageData/provenance/processStep[$prov_processStep_7_COUNTER]/library[$prov_processStep_library_8_COUNTER]</font></TH></TR>
																			<TR>
																				<TD align="left" valign="top">
																					<TABLE>
																						<TR><TD>library</TD><TD>$!item.getStringProperty("xnat:reconstructedImageData/provenance/processStep[$prov_processStep_7_COUNTER]/library[$prov_processStep_library_8_COUNTER]/library")</TD></TR>
																						<TR><TD>version</TD><TD>$!item.getStringProperty("xnat:reconstructedImageData/provenance/processStep[$prov_processStep_7_COUNTER]/library[$prov_processStep_library_8_COUNTER]/version")</TD></TR>
																					</TABLE>
																				</TD>
																			</TR>
																		</TABLE>
<!-- END xnat:reconstructedImageData/provenance/processStep[$prov_processStep_7_COUNTER]/library[$prov_processStep_library_8_COUNTER] -->
																	#end
																#end
															</TD></TR></TABLE>
														</TD>
													</TR>
												</TABLE>
<!-- END xnat:reconstructedImageData/provenance/processStep[$prov_processStep_7_COUNTER] -->
											#end
										#end
									</TD></TR></TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END xnat:reconstructedImageData/provenance -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_addField_9_NUM_ROWS=$item.getChildItems("xnat:reconstructedImageData/parameters/addParam").size() - 1)
							#if($xnat_addField_9_NUM_ROWS>=0)
								#foreach($xnat_addField_9_COUNTER in [0..$xnat_addField_9_NUM_ROWS])
<!-- BEGIN xnat:reconstructedImageData/parameters/addParam[$xnat_addField_9_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat:reconstructedImageData/parameters/addParam[$xnat_addField_9_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>addField</TD><TD>$!item.getStringProperty("xnat:reconstructedImageData/parameters/addParam[$xnat_addField_9_COUNTER]/addField")</TD></TR>
													<TR><TD>name</TD><TD>$!item.getStringProperty("xnat:reconstructedImageData/parameters/addParam[$xnat_addField_9_COUNTER]/name")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END xnat:reconstructedImageData/parameters/addParam[$xnat_addField_9_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_computationData_10_NUM_ROWS=$item.getChildItems("xnat:reconstructedImageData/computations/datum").size() - 1)
							#if($xnat_computationData_10_NUM_ROWS>=0)
								#foreach($xnat_computationData_10_COUNTER in [0..$xnat_computationData_10_NUM_ROWS])
<!-- BEGIN xnat:reconstructedImageData/computations/datum[$xnat_computationData_10_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat:reconstructedImageData/computations/datum[$xnat_computationData_10_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>name</TD><TD>$!item.getStringProperty("xnat:reconstructedImageData/computations/datum[$xnat_computationData_10_COUNTER]/name")</TD></TR>
													<TR><TD>value</TD><TD>$!item.getStringProperty("xnat:reconstructedImageData/computations/datum[$xnat_computationData_10_COUNTER]/value")</TD></TR>
													<TR><TD>source</TD><TD>$!item.getStringProperty("xnat:reconstructedImageData/computations/datum[$xnat_computationData_10_COUNTER]/source")</TD></TR>
													<TR><TD>units</TD><TD>$!item.getStringProperty("xnat:reconstructedImageData/computations/datum[$xnat_computationData_10_COUNTER]/units")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END xnat:reconstructedImageData/computations/datum[$xnat_computationData_10_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
			</TABLE>
<!-- END xnat:reconstructedImageData -->
		</TD>
	</TR>
</TABLE>
