<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("YGTSS Details")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($turbineUtils.GetPassedParameter("popup", $data))
	#set ($popup = $turbineUtils.GetPassedParameter("popup", data) )
	#set ($popup = "false")
#end
<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<font face="$ui.sansSerifFonts" size="3"><b>YGTSS Details</b></font>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD>subject_ID</TD><TD>$!item.getStringProperty("xnat_a:ygtssData/subject_ID")</TD></TR>
							<TR><TD>age</TD><TD>$!item.getDoubleProperty("xnat_a:ygtssData/age")</TD></TR>
							<TR><TD>date</TD><TD>$!item.getProperty("xnat_a:ygtssData/date")</TD></TR>
							<TR><TD>time</TD><TD>$!item.getProperty("xnat_a:ygtssData/time")</TD></TR>
							<TR><TD>duration</TD><TD>$!item.getProperty("xnat_a:ygtssData/duration")</TD></TR>
							<TR><TD>delay</TD><TD>$!item.getIntegerProperty("xnat_a:ygtssData/delay")</TD></TR>
							<TR><TD>delay/ref_expt_id</TD><TD>$!item.getStringProperty("xnat_a:ygtssData/delay/ref_expt_id")</TD></TR>
							<TR><TD>note</TD><TD>$!item.getStringProperty("xnat_a:ygtssData/note")</TD></TR>
							<TR><TD>acquisition_site</TD><TD>$!item.getStringProperty("xnat_a:ygtssData/acquisition_site")</TD></TR>
							<TR><TD>ID</TD><TD>$!item.getStringProperty("xnat_a:ygtssData/ID")</TD></TR>
							<TR><TD>project</TD><TD>$!item.getStringProperty("xnat_a:ygtssData/project")</TD></TR>
							<TR><TD>visit_id</TD><TD>$!item.getStringProperty("xnat_a:ygtssData/visit_id")</TD></TR>
							<TR><TD>visit</TD><TD>$!item.getStringProperty("xnat_a:ygtssData/visit")</TD></TR>
							<TR><TD>version</TD><TD>$!item.getIntegerProperty("xnat_a:ygtssData/version")</TD></TR>
							<TR><TD>original</TD><TD>$!item.getStringProperty("xnat_a:ygtssData/original")</TD></TR>
							<TR><TD>protocol</TD><TD>$!item.getStringProperty("xnat_a:ygtssData/protocol")</TD></TR>
							<TR><TD>label</TD><TD>$!item.getStringProperty("xnat_a:ygtssData/label")</TD></TR>
							<TR><TD>filledOutBy</TD><TD>$!item.getStringProperty("xnat_a:ygtssData/filledOutBy")</TD></TR>
							<TR><TD>period</TD><TD>$!item.getStringProperty("xnat_a:ygtssData/period")</TD></TR>
							<TR><TD>worstEverAge</TD><TD>$!item.getDoubleProperty("xnat_a:ygtssData/worstEverAge")</TD></TR>
							<TR><TD>motor/number</TD><TD>$!item.getIntegerProperty("xnat_a:ygtssData/motor/number")</TD></TR>
							<TR><TD>motor/frequency</TD><TD>$!item.getIntegerProperty("xnat_a:ygtssData/motor/frequency")</TD></TR>
							<TR><TD>motor/intensity</TD><TD>$!item.getIntegerProperty("xnat_a:ygtssData/motor/intensity")</TD></TR>
							<TR><TD>motor/complexity</TD><TD>$!item.getIntegerProperty("xnat_a:ygtssData/motor/complexity")</TD></TR>
							<TR><TD>motor/interference</TD><TD>$!item.getIntegerProperty("xnat_a:ygtssData/motor/interference")</TD></TR>
							<TR><TD>motor/inventory</TD><TD>$!item.getStringProperty("xnat_a:ygtssData/motor/inventory")</TD></TR>
							<TR><TD>phonic/number</TD><TD>$!item.getIntegerProperty("xnat_a:ygtssData/phonic/number")</TD></TR>
							<TR><TD>phonic/frequency</TD><TD>$!item.getIntegerProperty("xnat_a:ygtssData/phonic/frequency")</TD></TR>
							<TR><TD>phonic/intensity</TD><TD>$!item.getIntegerProperty("xnat_a:ygtssData/phonic/intensity")</TD></TR>
							<TR><TD>phonic/complexity</TD><TD>$!item.getIntegerProperty("xnat_a:ygtssData/phonic/complexity")</TD></TR>
							<TR><TD>phonic/interference</TD><TD>$!item.getIntegerProperty("xnat_a:ygtssData/phonic/interference")</TD></TR>
							<TR><TD>phonic/inventory</TD><TD>$!item.getStringProperty("xnat_a:ygtssData/phonic/inventory")</TD></TR>
							<TR><TD>impairment</TD><TD>$!item.getIntegerProperty("xnat_a:ygtssData/impairment")</TD></TR>
						</TABLE>
					</TD>
					<TD valign="top" align="right">
						#parse($turbineUtils.getTemplateName("actions",$om.getXSIType(),$project))
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
<!-- BEGIN xnat_a:ygtssData -->
			<TABLE>
				<TR><TH align="left"><font face="$ui.sansSerifFonts" size="2">Related Items</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
						</TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_experimentData_share_1_NUM_ROWS=$item.getChildItems("xnat_a:ygtssData/sharing/share").size() - 1)
							#if($xnat_experimentData_share_1_NUM_ROWS>=0)
								#foreach($xnat_experimentData_share_1_COUNTER in [0..$xnat_experimentData_share_1_NUM_ROWS])
<!-- BEGIN xnat_a:ygtssData/sharing/share[$xnat_experimentData_share_1_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat_a:ygtssData/sharing/share[$xnat_experimentData_share_1_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>share</TD><TD>$!item.getStringProperty("xnat_a:ygtssData/sharing/share[$xnat_experimentData_share_1_COUNTER]/share")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("xnat_a:ygtssData/sharing/share[$xnat_experimentData_share_1_COUNTER]/label")</TD></TR>
													<TR><TD>project</TD><TD>$!item.getStringProperty("xnat_a:ygtssData/sharing/share[$xnat_experimentData_share_1_COUNTER]/project")</TD></TR>
													<TR><TD>visit</TD><TD>$!item.getStringProperty("xnat_a:ygtssData/sharing/share[$xnat_experimentData_share_1_COUNTER]/visit")</TD></TR>
													<TR><TD>protocol</TD><TD>$!item.getStringProperty("xnat_a:ygtssData/sharing/share[$xnat_experimentData_share_1_COUNTER]/protocol")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END xnat_a:ygtssData/sharing/share[$xnat_experimentData_share_1_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN xnat_a:ygtssData/investigator -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat_a:ygtssData/investigator</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>title</TD><TD>$!item.getStringProperty("xnat_a:ygtssData/investigator/title")</TD></TR>
										<TR><TD>firstname</TD><TD>$!item.getStringProperty("xnat_a:ygtssData/investigator/firstname")</TD></TR>
										<TR><TD>lastname</TD><TD>$!item.getStringProperty("xnat_a:ygtssData/investigator/lastname")</TD></TR>
										<TR><TD>institution</TD><TD>$!item.getStringProperty("xnat_a:ygtssData/investigator/institution")</TD></TR>
										<TR><TD>department</TD><TD>$!item.getStringProperty("xnat_a:ygtssData/investigator/department")</TD></TR>
										<TR><TD>email</TD><TD>$!item.getStringProperty("xnat_a:ygtssData/investigator/email")</TD></TR>
										<TR><TD>phone</TD><TD>$!item.getStringProperty("xnat_a:ygtssData/investigator/phone")</TD></TR>
										<TR><TD>ID</TD><TD>$!item.getStringProperty("xnat_a:ygtssData/investigator/ID")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END xnat_a:ygtssData/investigator -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN xnat_a:ygtssData/validation -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat_a:ygtssData/validation</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>method</TD><TD>$!item.getStringProperty("xnat_a:ygtssData/validation/method")</TD></TR>
										<TR><TD>date</TD><TD>$!item.getProperty("xnat_a:ygtssData/validation/date")</TD></TR>
										<TR><TD>notes</TD><TD>$!item.getStringProperty("xnat_a:ygtssData/validation/notes")</TD></TR>
										<TR><TD>validated_by</TD><TD>$!item.getStringProperty("xnat_a:ygtssData/validation/validated_by")</TD></TR>
										<TR><TD>status</TD><TD>$!item.getStringProperty("xnat_a:ygtssData/validation/status")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END xnat_a:ygtssData/validation -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_abstractResource_4_NUM_ROWS=$item.getChildItems("xnat_a:ygtssData/resources/resource").size() - 1)
							#if($xnat_abstractResource_4_NUM_ROWS>=0)
								#foreach($xnat_abstractResource_4_COUNTER in [0..$xnat_abstractResource_4_NUM_ROWS])
<!-- BEGIN xnat_a:ygtssData/resources/resource[$xnat_abstractResource_4_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat_a:ygtssData/resources/resource[$xnat_abstractResource_4_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>note</TD><TD>$!item.getStringProperty("xnat_a:ygtssData/resources/resource[$xnat_abstractResource_4_COUNTER]/note")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("xnat_a:ygtssData/resources/resource[$xnat_abstractResource_4_COUNTER]/label")</TD></TR>
													<TR><TD>file_count</TD><TD>$!item.getIntegerProperty("xnat_a:ygtssData/resources/resource[$xnat_abstractResource_4_COUNTER]/file_count")</TD></TR>
													<TR><TD>file_size</TD><TD>$!item.getProperty("xnat_a:ygtssData/resources/resource[$xnat_abstractResource_4_COUNTER]/file_size")</TD></TR>
												</TABLE>
											</TD>
										</TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE><TR><TD>
													#set($xnat_abstractResource_tag_5_NUM_ROWS=$item.getChildItems("xnat_a:ygtssData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag").size() - 1)
													#if($xnat_abstractResource_tag_5_NUM_ROWS>=0)
														#foreach($xnat_abstractResource_tag_5_COUNTER in [0..$xnat_abstractResource_tag_5_NUM_ROWS])
<!-- BEGIN xnat_a:ygtssData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER] -->
															<TABLE>
																<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat_a:ygtssData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]</font></TH></TR>
																<TR>
																	<TD align="left" valign="top">
																		<TABLE>
																			<TR><TD>tag</TD><TD>$!item.getStringProperty("xnat_a:ygtssData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]/tag")</TD></TR>
																			<TR><TD>name</TD><TD>$!item.getStringProperty("xnat_a:ygtssData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]/name")</TD></TR>
																		</TABLE>
																	</TD>
																</TR>
															</TABLE>
<!-- END xnat_a:ygtssData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER] -->
														#end
													#end
												</TD></TR></TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END xnat_a:ygtssData/resources/resource[$xnat_abstractResource_4_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_experimentData_field_6_NUM_ROWS=$item.getChildItems("xnat_a:ygtssData/fields/field").size() - 1)
							#if($xnat_experimentData_field_6_NUM_ROWS>=0)
								#foreach($xnat_experimentData_field_6_COUNTER in [0..$xnat_experimentData_field_6_NUM_ROWS])
<!-- BEGIN xnat_a:ygtssData/fields/field[$xnat_experimentData_field_6_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat_a:ygtssData/fields/field[$xnat_experimentData_field_6_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>field</TD><TD>$!item.getStringProperty("xnat_a:ygtssData/fields/field[$xnat_experimentData_field_6_COUNTER]/field")</TD></TR>
													<TR><TD>name</TD><TD>$!item.getStringProperty("xnat_a:ygtssData/fields/field[$xnat_experimentData_field_6_COUNTER]/name")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END xnat_a:ygtssData/fields/field[$xnat_experimentData_field_6_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
			</TABLE>
<!-- END xnat_a:ygtssData -->
		</TD>
	</TR>
</TABLE><BR>#parse("/screens/ReportProjectSpecificFields.vm")
