<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("XAScan Details")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($turbineUtils.GetPassedParameter("popup", $data))
	#set ($popup = $turbineUtils.GetPassedParameter("popup", data) )
	#set ($popup = "false")
#end
<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<font face="$ui.sansSerifFonts" size="3"><b>XAScan Details</b></font>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD>image_session_ID</TD><TD>$!item.getStringProperty("xnat:xaScanData/image_session_ID")</TD></TR>
							<TR><TD>note</TD><TD>$!item.getStringProperty("xnat:xaScanData/note")</TD></TR>
							<TR><TD>quality</TD><TD>$!item.getStringProperty("xnat:xaScanData/quality")</TD></TR>
							<TR><TD>condition</TD><TD>$!item.getStringProperty("xnat:xaScanData/condition")</TD></TR>
							<TR><TD>series_description</TD><TD>$!item.getStringProperty("xnat:xaScanData/series_description")</TD></TR>
							<TR><TD>documentation</TD><TD>$!item.getStringProperty("xnat:xaScanData/documentation")</TD></TR>
							<TR><TD>scanner</TD><TD>$!item.getStringProperty("xnat:xaScanData/scanner")</TD></TR>
							<TR><TD>scanner/manufacturer</TD><TD>$!item.getStringProperty("xnat:xaScanData/scanner/manufacturer")</TD></TR>
							<TR><TD>scanner/model</TD><TD>$!item.getStringProperty("xnat:xaScanData/scanner/model")</TD></TR>
							<TR><TD>modality</TD><TD>$!item.getStringProperty("xnat:xaScanData/modality")</TD></TR>
							<TR><TD>frames</TD><TD>$!item.getIntegerProperty("xnat:xaScanData/frames")</TD></TR>
							<TR><TD>operator</TD><TD>$!item.getStringProperty("xnat:xaScanData/operator")</TD></TR>
							<TR><TD>startTime</TD><TD>$!item.getProperty("xnat:xaScanData/startTime")</TD></TR>
							<TR><TD>ID</TD><TD>$!item.getStringProperty("xnat:xaScanData/ID")</TD></TR>
							<TR><TD>type</TD><TD>$!item.getStringProperty("xnat:xaScanData/type")</TD></TR>
							<TR><TD>UID</TD><TD>$!item.getStringProperty("xnat:xaScanData/UID")</TD></TR>
							<TR><TD>project</TD><TD>$!item.getStringProperty("xnat:xaScanData/project")</TD></TR>
							<TR><TD>parameters/pixelRes/units</TD><TD>$!item.getStringProperty("xnat:xaScanData/parameters/pixelRes/units")</TD></TR>
							<TR><TD>parameters/pixelRes/x</TD><TD>$!item.getIntegerProperty("xnat:xaScanData/parameters/pixelRes/x")</TD></TR>
							<TR><TD>parameters/pixelRes/y</TD><TD>$!item.getIntegerProperty("xnat:xaScanData/parameters/pixelRes/y")</TD></TR>
							<TR><TD>parameters/orientation</TD><TD>$!item.getStringProperty("xnat:xaScanData/parameters/orientation")</TD></TR>
							<TR><TD>parameters/fov/x</TD><TD>$!item.getIntegerProperty("xnat:xaScanData/parameters/fov/x")</TD></TR>
							<TR><TD>parameters/fov/y</TD><TD>$!item.getIntegerProperty("xnat:xaScanData/parameters/fov/y")</TD></TR>
							<TR><TD>parameters/imageType</TD><TD>$!item.getStringProperty("xnat:xaScanData/parameters/imageType")</TD></TR>
							<TR><TD>parameters/options</TD><TD>$!item.getStringProperty("xnat:xaScanData/parameters/options")</TD></TR>
							<TR><TD>parameters/derivation</TD><TD>$!item.getStringProperty("xnat:xaScanData/parameters/derivation")</TD></TR>
						</TABLE>
					</TD>
					<TD valign="top" align="right">
						#parse($turbineUtils.getTemplateName("actions",$om.getXSIType(),$project))
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
<!-- BEGIN xnat:xaScanData -->
			<TABLE>
				<TR><TH align="left"><font face="$ui.sansSerifFonts" size="2">Related Items</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
						</TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_imageScanData_share_1_NUM_ROWS=$item.getChildItems("xnat:xaScanData/sharing/share").size() - 1)
							#if($xnat_imageScanData_share_1_NUM_ROWS>=0)
								#foreach($xnat_imageScanData_share_1_COUNTER in [0..$xnat_imageScanData_share_1_NUM_ROWS])
<!-- BEGIN xnat:xaScanData/sharing/share[$xnat_imageScanData_share_1_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat:xaScanData/sharing/share[$xnat_imageScanData_share_1_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>share</TD><TD>$!item.getStringProperty("xnat:xaScanData/sharing/share[$xnat_imageScanData_share_1_COUNTER]/share")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("xnat:xaScanData/sharing/share[$xnat_imageScanData_share_1_COUNTER]/label")</TD></TR>
													<TR><TD>project</TD><TD>$!item.getStringProperty("xnat:xaScanData/sharing/share[$xnat_imageScanData_share_1_COUNTER]/project")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END xnat:xaScanData/sharing/share[$xnat_imageScanData_share_1_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_abstractResource_2_NUM_ROWS=$item.getChildItems("xnat:xaScanData/file").size() - 1)
							#if($xnat_abstractResource_2_NUM_ROWS>=0)
								#foreach($xnat_abstractResource_2_COUNTER in [0..$xnat_abstractResource_2_NUM_ROWS])
<!-- BEGIN xnat:xaScanData/file[$xnat_abstractResource_2_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat:xaScanData/file[$xnat_abstractResource_2_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>note</TD><TD>$!item.getStringProperty("xnat:xaScanData/file[$xnat_abstractResource_2_COUNTER]/note")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("xnat:xaScanData/file[$xnat_abstractResource_2_COUNTER]/label")</TD></TR>
													<TR><TD>file_count</TD><TD>$!item.getIntegerProperty("xnat:xaScanData/file[$xnat_abstractResource_2_COUNTER]/file_count")</TD></TR>
													<TR><TD>file_size</TD><TD>$!item.getProperty("xnat:xaScanData/file[$xnat_abstractResource_2_COUNTER]/file_size")</TD></TR>
												</TABLE>
											</TD>
										</TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE><TR><TD>
													#set($xnat_abstractResource_tag_3_NUM_ROWS=$item.getChildItems("xnat:xaScanData/file[$xnat_abstractResource_2_COUNTER]/tags/tag").size() - 1)
													#if($xnat_abstractResource_tag_3_NUM_ROWS>=0)
														#foreach($xnat_abstractResource_tag_3_COUNTER in [0..$xnat_abstractResource_tag_3_NUM_ROWS])
<!-- BEGIN xnat:xaScanData/file[$xnat_abstractResource_2_COUNTER]/tags/tag[$xnat_abstractResource_tag_3_COUNTER] -->
															<TABLE>
																<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat:xaScanData/file[$xnat_abstractResource_2_COUNTER]/tags/tag[$xnat_abstractResource_tag_3_COUNTER]</font></TH></TR>
																<TR>
																	<TD align="left" valign="top">
																		<TABLE>
																			<TR><TD>tag</TD><TD>$!item.getStringProperty("xnat:xaScanData/file[$xnat_abstractResource_2_COUNTER]/tags/tag[$xnat_abstractResource_tag_3_COUNTER]/tag")</TD></TR>
																			<TR><TD>name</TD><TD>$!item.getStringProperty("xnat:xaScanData/file[$xnat_abstractResource_2_COUNTER]/tags/tag[$xnat_abstractResource_tag_3_COUNTER]/name")</TD></TR>
																		</TABLE>
																	</TD>
																</TR>
															</TABLE>
<!-- END xnat:xaScanData/file[$xnat_abstractResource_2_COUNTER]/tags/tag[$xnat_abstractResource_tag_3_COUNTER] -->
														#end
													#end
												</TD></TR></TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END xnat:xaScanData/file[$xnat_abstractResource_2_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN xnat:xaScanData/validation -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat:xaScanData/validation</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>method</TD><TD>$!item.getStringProperty("xnat:xaScanData/validation/method")</TD></TR>
										<TR><TD>date</TD><TD>$!item.getProperty("xnat:xaScanData/validation/date")</TD></TR>
										<TR><TD>notes</TD><TD>$!item.getStringProperty("xnat:xaScanData/validation/notes")</TD></TR>
										<TR><TD>validated_by</TD><TD>$!item.getStringProperty("xnat:xaScanData/validation/validated_by")</TD></TR>
										<TR><TD>status</TD><TD>$!item.getStringProperty("xnat:xaScanData/validation/status")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END xnat:xaScanData/validation -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN xnat:xaScanData/parameters/contrastBolus -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat:xaScanData/parameters/contrastBolus</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>agent</TD><TD>$!item.getStringProperty("xnat:xaScanData/parameters/contrastBolus/agent")</TD></TR>
										<TR><TD>route</TD><TD>$!item.getStringProperty("xnat:xaScanData/parameters/contrastBolus/route")</TD></TR>
										<TR><TD>volume</TD><TD>$!item.getDoubleProperty("xnat:xaScanData/parameters/contrastBolus/volume")</TD></TR>
										<TR><TD>totalDose</TD><TD>$!item.getDoubleProperty("xnat:xaScanData/parameters/contrastBolus/totalDose")</TD></TR>
										<TR><TD>flowRate</TD><TD>$!item.getDoubleProperty("xnat:xaScanData/parameters/contrastBolus/flowRate")</TD></TR>
										<TR><TD>flowDuration</TD><TD>$!item.getDoubleProperty("xnat:xaScanData/parameters/contrastBolus/flowDuration")</TD></TR>
										<TR><TD>activeIngredient</TD><TD>$!item.getStringProperty("xnat:xaScanData/parameters/contrastBolus/activeIngredient")</TD></TR>
										<TR><TD>concentration</TD><TD>$!item.getDoubleProperty("xnat:xaScanData/parameters/contrastBolus/concentration")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END xnat:xaScanData/parameters/contrastBolus -->
					</TD>
				</TR>
			</TABLE>
<!-- END xnat:xaScanData -->
		</TD>
	</TR>
</TABLE>
