<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("XDAT")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#set($months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"])
#set($days = [ 1..31 ])
#set($years = [ $!turbineUtils.getYear()..1900])
#if ($data.message)
<font color="red" size="3">$data.message</font>
#end
<p>
<form ID="form1" name="form1" method="post" action="$link.setAction("ModifyItem")">
<input type="hidden" name="project" value="$!{project}" >
#if($vr)
	<font color="red">Invalid parameters:<BR>$vr.toHTML()</font>
<HR>
#end

<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<DIV class="edit_title">MRScan Details</DIV>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD>image_session_ID</TD><TD>#xdatStringBox("xnat:mrScanData/image_session_ID" $item "" $vr)</TD></TR>
							<TR><TD>note</TD><TD>#xdatStringBox("xnat:mrScanData/note" $item "" $vr)</TD></TR>
							<TR><TD>quality</TD><TD>#xdatStringBox("xnat:mrScanData/quality" $item "" $vr)</TD></TR>
							<TR><TD>condition</TD><TD>#xdatStringBox("xnat:mrScanData/condition" $item "" $vr)</TD></TR>
							<TR><TD>series_description</TD><TD>#xdatStringBox("xnat:mrScanData/series_description" $item "" $vr)</TD></TR>
							<TR><TD>documentation</TD><TD>#xdatStringBox("xnat:mrScanData/documentation" $item "" $vr)</TD></TR>
							<TR><TD>scanner</TD><TD>#xdatStringBox("xnat:mrScanData/scanner" $item "" $vr)</TD></TR>
							<TR><TD>scanner/manufacturer</TD><TD>#xdatStringBox("xnat:mrScanData/scanner/manufacturer" $item "" $vr)</TD></TR>
							<TR><TD>scanner/model</TD><TD>#xdatStringBox("xnat:mrScanData/scanner/model" $item "" $vr)</TD></TR>
							<TR><TD>modality</TD><TD>#xdatStringBox("xnat:mrScanData/modality" $item "" $vr)</TD></TR>
							<TR><TD>frames</TD><TD>#xdatTextBox("xnat:mrScanData/frames" $item "" $vr)</TD></TR>
							<TR><TD>operator</TD><TD>#xdatStringBox("xnat:mrScanData/operator" $item "" $vr)</TD></TR>
							<TR><TD>startTime</TD><TD>#xdatTextBox("xnat:mrScanData/startTime" $item "" $vr)</TD></TR>
							<TR><TD>ID</TD><TD>#xdatStringBox("xnat:mrScanData/ID" $item "" $vr)</TD></TR>
							<TR><TD>type</TD><TD>#xdatStringBox("xnat:mrScanData/type" $item "" $vr)</TD></TR>
							<TR><TD>UID</TD><TD>#xdatStringBox("xnat:mrScanData/UID" $item "" $vr)</TD></TR>
							<TR><TD>project</TD><TD>#xdatStringBox("xnat:mrScanData/project" $item "" $vr)</TD></TR>
													#xdatHiddenBox("xnat:mrScanData/xnat_imageScanData_id" $item "")
							<TR><TD>coil</TD><TD>#xdatStringBox("xnat:mrScanData/coil" $item "" $vr)</TD></TR>
							<TR><TD>fieldStrength</TD><TD>#xdatStringBox("xnat:mrScanData/fieldStrength" $item "" $vr)</TD></TR>
							<TR><TD>marker</TD><TD>#xdatStringBox("xnat:mrScanData/marker" $item "" $vr)</TD></TR>
							<TR><TD>stabilization</TD><TD>#xdatStringBox("xnat:mrScanData/stabilization" $item "" $vr)</TD></TR>
							<TR><TD>parameters/voxelRes/units</TD><TD>#xdatStringBox("xnat:mrScanData/parameters/voxelRes/units" $item "" $vr)</TD></TR>
							<TR><TD>parameters/voxelRes/x</TD><TD>#xdatTextBox("xnat:mrScanData/parameters/voxelRes/x" $item "" $vr)</TD></TR>
							<TR><TD>parameters/voxelRes/y</TD><TD>#xdatTextBox("xnat:mrScanData/parameters/voxelRes/y" $item "" $vr)</TD></TR>
							<TR><TD>parameters/voxelRes/z</TD><TD>#xdatTextBox("xnat:mrScanData/parameters/voxelRes/z" $item "" $vr)</TD></TR>
							<TR><TD>parameters/orientation</TD><TD>#xdatStringBox("xnat:mrScanData/parameters/orientation" $item "" $vr)</TD></TR>
							<TR><TD>parameters/fov/x</TD><TD>#xdatTextBox("xnat:mrScanData/parameters/fov/x" $item "" $vr)</TD></TR>
							<TR><TD>parameters/fov/y</TD><TD>#xdatTextBox("xnat:mrScanData/parameters/fov/y" $item "" $vr)</TD></TR>
							<TR><TD>parameters/matrix/x</TD><TD>#xdatTextBox("xnat:mrScanData/parameters/matrix/x" $item "" $vr)</TD></TR>
							<TR><TD>parameters/matrix/y</TD><TD>#xdatTextBox("xnat:mrScanData/parameters/matrix/y" $item "" $vr)</TD></TR>
							<TR><TD>parameters/partitions</TD><TD>#xdatTextBox("xnat:mrScanData/parameters/partitions" $item "" $vr)</TD></TR>
							<TR><TD>parameters/tr</TD><TD>#xdatTextBox("xnat:mrScanData/parameters/tr" $item "" $vr)</TD></TR>
							<TR><TD>parameters/te</TD><TD>#xdatTextBox("xnat:mrScanData/parameters/te" $item "" $vr)</TD></TR>
							<TR><TD>parameters/ti</TD><TD>#xdatTextBox("xnat:mrScanData/parameters/ti" $item "" $vr)</TD></TR>
							<TR><TD>parameters/flip</TD><TD>#xdatTextBox("xnat:mrScanData/parameters/flip" $item "" $vr)</TD></TR>
							<TR><TD>parameters/sequence</TD><TD>#xdatStringBox("xnat:mrScanData/parameters/sequence" $item "" $vr)</TD></TR>
							<TR><TD>parameters/origin</TD><TD>#xdatStringBox("xnat:mrScanData/parameters/origin" $item "" $vr)</TD></TR>
							<TR><TD>parameters/imageType</TD><TD>#xdatStringBox("xnat:mrScanData/parameters/imageType" $item "" $vr)</TD></TR>
							<TR><TD>parameters/scanSequence</TD><TD>#xdatStringBox("xnat:mrScanData/parameters/scanSequence" $item "" $vr)</TD></TR>
							<TR><TD>parameters/seqVariant</TD><TD>#xdatStringBox("xnat:mrScanData/parameters/seqVariant" $item "" $vr)</TD></TR>
							<TR><TD>parameters/scanOptions</TD><TD>#xdatStringBox("xnat:mrScanData/parameters/scanOptions" $item "" $vr)</TD></TR>
							<TR><TD>parameters/acqType</TD><TD>#xdatStringBox("xnat:mrScanData/parameters/acqType" $item "" $vr)</TD></TR>
							<TR><TD>parameters/coil</TD><TD>#xdatStringBox("xnat:mrScanData/parameters/coil" $item "" $vr)</TD></TR>
							<TR><TD>parameters/dtiAcqCount</TD><TD>#xdatTextBox("xnat:mrScanData/parameters/dtiAcqCount" $item "" $vr)</TD></TR>
							<TR><TD>parameters/pixelBandwidth</TD><TD>#xdatTextBox("xnat:mrScanData/parameters/pixelBandwidth" $item "" $vr)</TD></TR>
							<TR><TD>parameters/diffusion/bValues</TD><TD>#xdatStringBox("xnat:mrScanData/parameters/diffusion/bValues" $item "" $vr)</TD></TR>
							<TR><TD>parameters/diffusion/directionality</TD><TD>#xdatStringBox("xnat:mrScanData/parameters/diffusion/directionality" $item "" $vr)</TD></TR>
							<TR><TD>parameters/diffusion/orientations</TD><TD>#xdatStringBox("xnat:mrScanData/parameters/diffusion/orientations" $item "" $vr)</TD></TR>
							<TR><TD>parameters/diffusion/anisotropyType</TD><TD>#xdatStringBox("xnat:mrScanData/parameters/diffusion/anisotropyType" $item "" $vr)</TD></TR>
							<TR><TD>dcmValidation</TD><TD>#xdatStringBox("xnat:mrScanData/dcmValidation" $item "" $vr)</TD></TR>
							<TR><TD>dcmValidation/status</TD><TD>#xdatBooleanRadio("xnat:mrScanData/dcmValidation/status" $item false $vr)</TD></TR>
						</TABLE>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
<!-- BEGIN xnat:mrScanData -->
			<TABLE>
				<TR><TH align="left"><font face="$ui.sansSerifFonts" size="2">Related Items</font></TH></TR>
<!-- BEGIN xnat:mrScanData/sharing/share -->
				<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat:mrScanData/sharing/share</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
							<TR>
								<TD>share</TD>
								<TD>label</TD>
								<TD>project</TD>
							</TR>
							#foreach($xnat_imageScanData_share_1_COUNTER in [0..5])
								<TR>
									<TD>#xdatTextBox("xnat:mrScanData/sharing/share[$xnat_imageScanData_share_1_COUNTER]/share" $item "" $vr)</TD>
									<TD>#xdatTextBox("xnat:mrScanData/sharing/share[$xnat_imageScanData_share_1_COUNTER]/label" $item "" $vr)</TD>
									<TD>#xdatTextBox("xnat:mrScanData/sharing/share[$xnat_imageScanData_share_1_COUNTER]/project" $item "" $vr)</TD>
									#xdatHiddenBox("xnat:mrScanData/sharing/share[$xnat_imageScanData_share_1_COUNTER]/xnat_imageScanData_share_id" $item "")
								</TR>
							#end
						</TABLE>
					</TD>
				</TR>
<!-- END xnat:mrScanData/sharing/share -->
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#foreach($xnat_abstractResource_1_COUNTER in [0..5])
<!-- BEGIN xnat:mrScanData/file[$xnat_abstractResource_1_COUNTER] -->
								<TABLE>
									<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat:mrScanData/file[$xnat_abstractResource_1_COUNTER]</font></TH></TR>
									<TR>
										<TD align="left" valign="top">
											<TABLE>
												<TR><TD>note</TD><TD>#xdatStringBox("xnat:mrScanData/file[$xnat_abstractResource_1_COUNTER]/note" $item "" $vr)</TD></TR>
												<TR><TD>label</TD><TD>#xdatStringBox("xnat:mrScanData/file[$xnat_abstractResource_1_COUNTER]/label" $item "" $vr)</TD></TR>
												<TR><TD>file_count</TD><TD>#xdatTextBox("xnat:mrScanData/file[$xnat_abstractResource_1_COUNTER]/file_count" $item "" $vr)</TD></TR>
												<TR><TD>file_size</TD><TD>#xdatTextBox("xnat:mrScanData/file[$xnat_abstractResource_1_COUNTER]/file_size" $item "" $vr)</TD></TR>
																		#xdatHiddenBox("xnat:mrScanData/file[$xnat_abstractResource_1_COUNTER]/xnat_abstractResource_id" $item "")
											</TABLE>
										</TD>
									</TR>
<!-- BEGIN xnat:mrScanData/file[$xnat_abstractResource_1_COUNTER]/tags/tag -->
									<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat:mrScanData/file[$xnat_abstractResource_1_COUNTER]/tags/tag</font></TH></TR>
									<TR>
										<TD align="left" valign="top">
											<TABLE>
												<TR>
													<TD>tag</TD>
													<TD>name</TD>
												</TR>
												#foreach($xnat_abstractResource_tag_2_COUNTER in [0..5])
													<TR>
														<TD>#xdatTextBox("xnat:mrScanData/file[$xnat_abstractResource_1_COUNTER]/tags/tag[$xnat_abstractResource_tag_2_COUNTER]/tag" $item "" $vr)</TD>
														<TD>#xdatTextBox("xnat:mrScanData/file[$xnat_abstractResource_1_COUNTER]/tags/tag[$xnat_abstractResource_tag_2_COUNTER]/name" $item "" $vr)</TD>
														#xdatHiddenBox("xnat:mrScanData/file[$xnat_abstractResource_1_COUNTER]/tags/tag[$xnat_abstractResource_tag_2_COUNTER]/xnat_abstractResource_tag_id" $item "")
													</TR>
												#end
											</TABLE>
										</TD>
									</TR>
<!-- END xnat:mrScanData/file[$xnat_abstractResource_1_COUNTER]/tags/tag -->
								</TABLE>
<!-- END xnat:mrScanData/file[$xnat_abstractResource_1_COUNTER] -->
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN xnat:mrScanData/validation -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat:mrScanData/validation</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>method</TD><TD>#xdatStringBox("xnat:mrScanData/validation/method" $item "" $vr)</TD></TR>
										<TR><TD>date</TD><TD>#xdatDateBox("xnat:mrScanData/validation/date" $item $vr $years)</TD></TR>
										<TR><TD>notes</TD><TD>#xdatStringBox("xnat:mrScanData/validation/notes" $item "" $vr)</TD></TR>
										<TR><TD>validated_by</TD><TD>#xdatStringBox("xnat:mrScanData/validation/validated_by" $item "" $vr)</TD></TR>
										<TR><TD>status</TD><TD>#xdatStringBox("xnat:mrScanData/validation/status" $item "" $vr)</TD></TR>
																#xdatHiddenBox("xnat:mrScanData/validation/xnat_validationData_id" $item "")
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END xnat:mrScanData/validation -->
					</TD>
				</TR>
<!-- BEGIN xnat:mrScanData/parameters/addParam -->
				<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat:mrScanData/parameters/addParam</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
							<TR>
								<TD>addField</TD>
								<TD>name</TD>
							</TR>
							#foreach($xnat_addField_3_COUNTER in [0..5])
								<TR>
									<TD>#xdatTextBox("xnat:mrScanData/parameters/addParam[$xnat_addField_3_COUNTER]/addField" $item "" $vr)</TD>
									<TD>#xdatTextBox("xnat:mrScanData/parameters/addParam[$xnat_addField_3_COUNTER]/name" $item "" $vr)</TD>
									#xdatHiddenBox("xnat:mrScanData/parameters/addParam[$xnat_addField_3_COUNTER]/xnat_addField_id" $item "")
								</TR>
							#end
						</TABLE>
					</TD>
				</TR>
<!-- END xnat:mrScanData/parameters/addParam -->
			</TABLE>
<!-- END xnat:mrScanData -->
		</TD>
	</TR>
	<TR>
		<TD>
		#xdatEditProps($item $edit_screen)
		<TR><TD COLSPAN=2 ALIGN=left><input type="button" ONCLICK="validateForm();"  name="eventSubmit_doInsert" value="Submit"/></TD></TR>
		</TD>
	</TR>
</TABLE>
</form>

<script type="text/javascript">
function validateForm()
{
   //INSERT CUSTOM CONTENT HERE
}
</script>
