<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("Generic Details")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($turbineUtils.GetPassedParameter("popup", $data))
	#set ($popup = $turbineUtils.GetPassedParameter("popup", data) )
	#set ($popup = "false")
#end
<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<font face="$ui.sansSerifFonts" size="3"><b>Generic Details</b></font>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD>date</TD><TD>$!item.getProperty("xnat:genericData/date")</TD></TR>
							<TR><TD>time</TD><TD>$!item.getProperty("xnat:genericData/time")</TD></TR>
							<TR><TD>duration</TD><TD>$!item.getProperty("xnat:genericData/duration")</TD></TR>
							<TR><TD>delay</TD><TD>$!item.getIntegerProperty("xnat:genericData/delay")</TD></TR>
							<TR><TD>delay/ref_expt_id</TD><TD>$!item.getStringProperty("xnat:genericData/delay/ref_expt_id")</TD></TR>
							<TR><TD>note</TD><TD>$!item.getStringProperty("xnat:genericData/note")</TD></TR>
							<TR><TD>acquisition_site</TD><TD>$!item.getStringProperty("xnat:genericData/acquisition_site")</TD></TR>
							<TR><TD>ID</TD><TD>$!item.getStringProperty("xnat:genericData/ID")</TD></TR>
							<TR><TD>project</TD><TD>$!item.getStringProperty("xnat:genericData/project")</TD></TR>
							<TR><TD>visit_id</TD><TD>$!item.getStringProperty("xnat:genericData/visit_id")</TD></TR>
							<TR><TD>visit</TD><TD>$!item.getStringProperty("xnat:genericData/visit")</TD></TR>
							<TR><TD>version</TD><TD>$!item.getIntegerProperty("xnat:genericData/version")</TD></TR>
							<TR><TD>original</TD><TD>$!item.getStringProperty("xnat:genericData/original")</TD></TR>
							<TR><TD>protocol</TD><TD>$!item.getStringProperty("xnat:genericData/protocol")</TD></TR>
							<TR><TD>label</TD><TD>$!item.getStringProperty("xnat:genericData/label")</TD></TR>
						</TABLE>
					</TD>
					<TD valign="top" align="right">
						#parse($turbineUtils.getTemplateName("actions",$om.getXSIType(),$project))
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
<!-- BEGIN xnat:genericData -->
			<TABLE>
				<TR><TH align="left"><font face="$ui.sansSerifFonts" size="2">Related Items</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
						</TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_experimentData_share_1_NUM_ROWS=$item.getChildItems("xnat:genericData/sharing/share").size() - 1)
							#if($xnat_experimentData_share_1_NUM_ROWS>=0)
								#foreach($xnat_experimentData_share_1_COUNTER in [0..$xnat_experimentData_share_1_NUM_ROWS])
<!-- BEGIN xnat:genericData/sharing/share[$xnat_experimentData_share_1_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat:genericData/sharing/share[$xnat_experimentData_share_1_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>share</TD><TD>$!item.getStringProperty("xnat:genericData/sharing/share[$xnat_experimentData_share_1_COUNTER]/share")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("xnat:genericData/sharing/share[$xnat_experimentData_share_1_COUNTER]/label")</TD></TR>
													<TR><TD>project</TD><TD>$!item.getStringProperty("xnat:genericData/sharing/share[$xnat_experimentData_share_1_COUNTER]/project")</TD></TR>
													<TR><TD>visit</TD><TD>$!item.getStringProperty("xnat:genericData/sharing/share[$xnat_experimentData_share_1_COUNTER]/visit")</TD></TR>
													<TR><TD>protocol</TD><TD>$!item.getStringProperty("xnat:genericData/sharing/share[$xnat_experimentData_share_1_COUNTER]/protocol")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END xnat:genericData/sharing/share[$xnat_experimentData_share_1_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN xnat:genericData/investigator -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat:genericData/investigator</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>title</TD><TD>$!item.getStringProperty("xnat:genericData/investigator/title")</TD></TR>
										<TR><TD>firstname</TD><TD>$!item.getStringProperty("xnat:genericData/investigator/firstname")</TD></TR>
										<TR><TD>lastname</TD><TD>$!item.getStringProperty("xnat:genericData/investigator/lastname")</TD></TR>
										<TR><TD>institution</TD><TD>$!item.getStringProperty("xnat:genericData/investigator/institution")</TD></TR>
										<TR><TD>department</TD><TD>$!item.getStringProperty("xnat:genericData/investigator/department")</TD></TR>
										<TR><TD>email</TD><TD>$!item.getStringProperty("xnat:genericData/investigator/email")</TD></TR>
										<TR><TD>phone</TD><TD>$!item.getStringProperty("xnat:genericData/investigator/phone")</TD></TR>
										<TR><TD>ID</TD><TD>$!item.getStringProperty("xnat:genericData/investigator/ID")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END xnat:genericData/investigator -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN xnat:genericData/validation -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat:genericData/validation</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>method</TD><TD>$!item.getStringProperty("xnat:genericData/validation/method")</TD></TR>
										<TR><TD>date</TD><TD>$!item.getProperty("xnat:genericData/validation/date")</TD></TR>
										<TR><TD>notes</TD><TD>$!item.getStringProperty("xnat:genericData/validation/notes")</TD></TR>
										<TR><TD>validated_by</TD><TD>$!item.getStringProperty("xnat:genericData/validation/validated_by")</TD></TR>
										<TR><TD>status</TD><TD>$!item.getStringProperty("xnat:genericData/validation/status")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END xnat:genericData/validation -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_abstractResource_4_NUM_ROWS=$item.getChildItems("xnat:genericData/resources/resource").size() - 1)
							#if($xnat_abstractResource_4_NUM_ROWS>=0)
								#foreach($xnat_abstractResource_4_COUNTER in [0..$xnat_abstractResource_4_NUM_ROWS])
<!-- BEGIN xnat:genericData/resources/resource[$xnat_abstractResource_4_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat:genericData/resources/resource[$xnat_abstractResource_4_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>note</TD><TD>$!item.getStringProperty("xnat:genericData/resources/resource[$xnat_abstractResource_4_COUNTER]/note")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("xnat:genericData/resources/resource[$xnat_abstractResource_4_COUNTER]/label")</TD></TR>
													<TR><TD>file_count</TD><TD>$!item.getIntegerProperty("xnat:genericData/resources/resource[$xnat_abstractResource_4_COUNTER]/file_count")</TD></TR>
													<TR><TD>file_size</TD><TD>$!item.getProperty("xnat:genericData/resources/resource[$xnat_abstractResource_4_COUNTER]/file_size")</TD></TR>
												</TABLE>
											</TD>
										</TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE><TR><TD>
													#set($xnat_abstractResource_tag_5_NUM_ROWS=$item.getChildItems("xnat:genericData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag").size() - 1)
													#if($xnat_abstractResource_tag_5_NUM_ROWS>=0)
														#foreach($xnat_abstractResource_tag_5_COUNTER in [0..$xnat_abstractResource_tag_5_NUM_ROWS])
<!-- BEGIN xnat:genericData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER] -->
															<TABLE>
																<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat:genericData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]</font></TH></TR>
																<TR>
																	<TD align="left" valign="top">
																		<TABLE>
																			<TR><TD>tag</TD><TD>$!item.getStringProperty("xnat:genericData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]/tag")</TD></TR>
																			<TR><TD>name</TD><TD>$!item.getStringProperty("xnat:genericData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]/name")</TD></TR>
																		</TABLE>
																	</TD>
																</TR>
															</TABLE>
<!-- END xnat:genericData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER] -->
														#end
													#end
												</TD></TR></TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END xnat:genericData/resources/resource[$xnat_abstractResource_4_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_experimentData_field_6_NUM_ROWS=$item.getChildItems("xnat:genericData/fields/field").size() - 1)
							#if($xnat_experimentData_field_6_NUM_ROWS>=0)
								#foreach($xnat_experimentData_field_6_COUNTER in [0..$xnat_experimentData_field_6_NUM_ROWS])
<!-- BEGIN xnat:genericData/fields/field[$xnat_experimentData_field_6_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat:genericData/fields/field[$xnat_experimentData_field_6_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>field</TD><TD>$!item.getStringProperty("xnat:genericData/fields/field[$xnat_experimentData_field_6_COUNTER]/field")</TD></TR>
													<TR><TD>name</TD><TD>$!item.getStringProperty("xnat:genericData/fields/field[$xnat_experimentData_field_6_COUNTER]/name")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END xnat:genericData/fields/field[$xnat_experimentData_field_6_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
			</TABLE>
<!-- END xnat:genericData -->
		</TD>
	</TR>
</TABLE>
