<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("YBOCS Details")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($turbineUtils.GetPassedParameter("popup", $data))
	#set ($popup = $turbineUtils.GetPassedParameter("popup", data) )
	#set ($popup = "false")
#end
<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<font face="$ui.sansSerifFonts" size="3"><b>YBOCS Details</b></font>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD>subject_ID</TD><TD>$!item.getStringProperty("xnat_a:ybocsData/subject_ID")</TD></TR>
							<TR><TD>age</TD><TD>$!item.getDoubleProperty("xnat_a:ybocsData/age")</TD></TR>
							<TR><TD>date</TD><TD>$!item.getProperty("xnat_a:ybocsData/date")</TD></TR>
							<TR><TD>time</TD><TD>$!item.getProperty("xnat_a:ybocsData/time")</TD></TR>
							<TR><TD>duration</TD><TD>$!item.getProperty("xnat_a:ybocsData/duration")</TD></TR>
							<TR><TD>delay</TD><TD>$!item.getIntegerProperty("xnat_a:ybocsData/delay")</TD></TR>
							<TR><TD>delay/ref_expt_id</TD><TD>$!item.getStringProperty("xnat_a:ybocsData/delay/ref_expt_id")</TD></TR>
							<TR><TD>note</TD><TD>$!item.getStringProperty("xnat_a:ybocsData/note")</TD></TR>
							<TR><TD>acquisition_site</TD><TD>$!item.getStringProperty("xnat_a:ybocsData/acquisition_site")</TD></TR>
							<TR><TD>ID</TD><TD>$!item.getStringProperty("xnat_a:ybocsData/ID")</TD></TR>
							<TR><TD>project</TD><TD>$!item.getStringProperty("xnat_a:ybocsData/project")</TD></TR>
							<TR><TD>visit_id</TD><TD>$!item.getStringProperty("xnat_a:ybocsData/visit_id")</TD></TR>
							<TR><TD>visit</TD><TD>$!item.getStringProperty("xnat_a:ybocsData/visit")</TD></TR>
							<TR><TD>version</TD><TD>$!item.getIntegerProperty("xnat_a:ybocsData/version")</TD></TR>
							<TR><TD>original</TD><TD>$!item.getStringProperty("xnat_a:ybocsData/original")</TD></TR>
							<TR><TD>protocol</TD><TD>$!item.getStringProperty("xnat_a:ybocsData/protocol")</TD></TR>
							<TR><TD>label</TD><TD>$!item.getStringProperty("xnat_a:ybocsData/label")</TD></TR>
							<TR><TD>currentOrWorstEver</TD><TD>$!item.getStringProperty("xnat_a:ybocsData/currentOrWorstEver")</TD></TR>
							<TR><TD>timeOccupiedWithThoughts</TD><TD>$!item.getIntegerProperty("xnat_a:ybocsData/timeOccupiedWithThoughts")</TD></TR>
							<TR><TD>thoughtsInterfereFunctioning</TD><TD>$!item.getIntegerProperty("xnat_a:ybocsData/thoughtsInterfereFunctioning")</TD></TR>
							<TR><TD>distressCaused</TD><TD>$!item.getIntegerProperty("xnat_a:ybocsData/distressCaused")</TD></TR>
							<TR><TD>effortToResistThoughts</TD><TD>$!item.getIntegerProperty("xnat_a:ybocsData/effortToResistThoughts")</TD></TR>
							<TR><TD>controlOverThoughts</TD><TD>$!item.getIntegerProperty("xnat_a:ybocsData/controlOverThoughts")</TD></TR>
							<TR><TD>timePerforming</TD><TD>$!item.getIntegerProperty("xnat_a:ybocsData/timePerforming")</TD></TR>
							<TR><TD>behaviorsInterfereFunctioning</TD><TD>$!item.getIntegerProperty("xnat_a:ybocsData/behaviorsInterfereFunctioning")</TD></TR>
							<TR><TD>feelingIfPrevented</TD><TD>$!item.getIntegerProperty("xnat_a:ybocsData/feelingIfPrevented")</TD></TR>
							<TR><TD>effortToResistBehaviors</TD><TD>$!item.getIntegerProperty("xnat_a:ybocsData/effortToResistBehaviors")</TD></TR>
							<TR><TD>behaviorDriveStrength</TD><TD>$!item.getIntegerProperty("xnat_a:ybocsData/behaviorDriveStrength")</TD></TR>
							<TR><TD>untilJustRight</TD><TD>$!item.getBooleanProperty("xnat_a:ybocsData/untilJustRight")</TD></TR>
							<TR><TD>untilJustRightAwareness</TD><TD>$!item.getStringProperty("xnat_a:ybocsData/untilJustRightAwareness")</TD></TR>
							<TR><TD>untilJustRightPerceptions</TD><TD>$!item.getStringProperty("xnat_a:ybocsData/untilJustRightPerceptions")</TD></TR>
							<TR><TD>whenStartUntilJustRight</TD><TD>$!item.getStringProperty("xnat_a:ybocsData/whenStartUntilJustRight")</TD></TR>
							<TR><TD>frequencyUntilJustRight</TD><TD>$!item.getStringProperty("xnat_a:ybocsData/frequencyUntilJustRight")</TD></TR>
							<TR><TD>firstUntilJustRightAge</TD><TD>$!item.getDoubleProperty("xnat_a:ybocsData/firstUntilJustRightAge")</TD></TR>
						</TABLE>
					</TD>
					<TD valign="top" align="right">
						#parse($turbineUtils.getTemplateName("actions",$om.getXSIType(),$project))
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
<!-- BEGIN xnat_a:ybocsData -->
			<TABLE>
				<TR><TH align="left"><font face="$ui.sansSerifFonts" size="2">Related Items</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
						</TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_experimentData_share_1_NUM_ROWS=$item.getChildItems("xnat_a:ybocsData/sharing/share").size() - 1)
							#if($xnat_experimentData_share_1_NUM_ROWS>=0)
								#foreach($xnat_experimentData_share_1_COUNTER in [0..$xnat_experimentData_share_1_NUM_ROWS])
<!-- BEGIN xnat_a:ybocsData/sharing/share[$xnat_experimentData_share_1_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat_a:ybocsData/sharing/share[$xnat_experimentData_share_1_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>share</TD><TD>$!item.getStringProperty("xnat_a:ybocsData/sharing/share[$xnat_experimentData_share_1_COUNTER]/share")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("xnat_a:ybocsData/sharing/share[$xnat_experimentData_share_1_COUNTER]/label")</TD></TR>
													<TR><TD>project</TD><TD>$!item.getStringProperty("xnat_a:ybocsData/sharing/share[$xnat_experimentData_share_1_COUNTER]/project")</TD></TR>
													<TR><TD>visit</TD><TD>$!item.getStringProperty("xnat_a:ybocsData/sharing/share[$xnat_experimentData_share_1_COUNTER]/visit")</TD></TR>
													<TR><TD>protocol</TD><TD>$!item.getStringProperty("xnat_a:ybocsData/sharing/share[$xnat_experimentData_share_1_COUNTER]/protocol")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END xnat_a:ybocsData/sharing/share[$xnat_experimentData_share_1_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN xnat_a:ybocsData/investigator -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat_a:ybocsData/investigator</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>title</TD><TD>$!item.getStringProperty("xnat_a:ybocsData/investigator/title")</TD></TR>
										<TR><TD>firstname</TD><TD>$!item.getStringProperty("xnat_a:ybocsData/investigator/firstname")</TD></TR>
										<TR><TD>lastname</TD><TD>$!item.getStringProperty("xnat_a:ybocsData/investigator/lastname")</TD></TR>
										<TR><TD>institution</TD><TD>$!item.getStringProperty("xnat_a:ybocsData/investigator/institution")</TD></TR>
										<TR><TD>department</TD><TD>$!item.getStringProperty("xnat_a:ybocsData/investigator/department")</TD></TR>
										<TR><TD>email</TD><TD>$!item.getStringProperty("xnat_a:ybocsData/investigator/email")</TD></TR>
										<TR><TD>phone</TD><TD>$!item.getStringProperty("xnat_a:ybocsData/investigator/phone")</TD></TR>
										<TR><TD>ID</TD><TD>$!item.getStringProperty("xnat_a:ybocsData/investigator/ID")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END xnat_a:ybocsData/investigator -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN xnat_a:ybocsData/validation -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat_a:ybocsData/validation</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>method</TD><TD>$!item.getStringProperty("xnat_a:ybocsData/validation/method")</TD></TR>
										<TR><TD>date</TD><TD>$!item.getProperty("xnat_a:ybocsData/validation/date")</TD></TR>
										<TR><TD>notes</TD><TD>$!item.getStringProperty("xnat_a:ybocsData/validation/notes")</TD></TR>
										<TR><TD>validated_by</TD><TD>$!item.getStringProperty("xnat_a:ybocsData/validation/validated_by")</TD></TR>
										<TR><TD>status</TD><TD>$!item.getStringProperty("xnat_a:ybocsData/validation/status")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END xnat_a:ybocsData/validation -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_abstractResource_4_NUM_ROWS=$item.getChildItems("xnat_a:ybocsData/resources/resource").size() - 1)
							#if($xnat_abstractResource_4_NUM_ROWS>=0)
								#foreach($xnat_abstractResource_4_COUNTER in [0..$xnat_abstractResource_4_NUM_ROWS])
<!-- BEGIN xnat_a:ybocsData/resources/resource[$xnat_abstractResource_4_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat_a:ybocsData/resources/resource[$xnat_abstractResource_4_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>note</TD><TD>$!item.getStringProperty("xnat_a:ybocsData/resources/resource[$xnat_abstractResource_4_COUNTER]/note")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("xnat_a:ybocsData/resources/resource[$xnat_abstractResource_4_COUNTER]/label")</TD></TR>
													<TR><TD>file_count</TD><TD>$!item.getIntegerProperty("xnat_a:ybocsData/resources/resource[$xnat_abstractResource_4_COUNTER]/file_count")</TD></TR>
													<TR><TD>file_size</TD><TD>$!item.getProperty("xnat_a:ybocsData/resources/resource[$xnat_abstractResource_4_COUNTER]/file_size")</TD></TR>
												</TABLE>
											</TD>
										</TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE><TR><TD>
													#set($xnat_abstractResource_tag_5_NUM_ROWS=$item.getChildItems("xnat_a:ybocsData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag").size() - 1)
													#if($xnat_abstractResource_tag_5_NUM_ROWS>=0)
														#foreach($xnat_abstractResource_tag_5_COUNTER in [0..$xnat_abstractResource_tag_5_NUM_ROWS])
<!-- BEGIN xnat_a:ybocsData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER] -->
															<TABLE>
																<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat_a:ybocsData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]</font></TH></TR>
																<TR>
																	<TD align="left" valign="top">
																		<TABLE>
																			<TR><TD>tag</TD><TD>$!item.getStringProperty("xnat_a:ybocsData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]/tag")</TD></TR>
																			<TR><TD>name</TD><TD>$!item.getStringProperty("xnat_a:ybocsData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]/name")</TD></TR>
																		</TABLE>
																	</TD>
																</TR>
															</TABLE>
<!-- END xnat_a:ybocsData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER] -->
														#end
													#end
												</TD></TR></TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END xnat_a:ybocsData/resources/resource[$xnat_abstractResource_4_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_experimentData_field_6_NUM_ROWS=$item.getChildItems("xnat_a:ybocsData/fields/field").size() - 1)
							#if($xnat_experimentData_field_6_NUM_ROWS>=0)
								#foreach($xnat_experimentData_field_6_COUNTER in [0..$xnat_experimentData_field_6_NUM_ROWS])
<!-- BEGIN xnat_a:ybocsData/fields/field[$xnat_experimentData_field_6_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat_a:ybocsData/fields/field[$xnat_experimentData_field_6_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>field</TD><TD>$!item.getStringProperty("xnat_a:ybocsData/fields/field[$xnat_experimentData_field_6_COUNTER]/field")</TD></TR>
													<TR><TD>name</TD><TD>$!item.getStringProperty("xnat_a:ybocsData/fields/field[$xnat_experimentData_field_6_COUNTER]/name")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END xnat_a:ybocsData/fields/field[$xnat_experimentData_field_6_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
			</TABLE>
<!-- END xnat_a:ybocsData -->
		</TD>
	</TR>
</TABLE><BR>#parse("/screens/ReportProjectSpecificFields.vm")
